{{/*
SPDX-FileCopyrightText: 2021-2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}

{{ with .Params.src }}
<figure><img src="{{ . }}"></figure>
{{ end }}

{{- if not .Params.customIntro }}
{{- $major := index (split .File.TranslationBaseName ".") 0 }}
{{- $link := printf "/announcements/frameworks/%s/%s.0" $major $major }}

<p>{{ partial "i18n_date.html" . }}</p>
<p>{{ partial "fn/i18n_args" (slice "annc-frameworks-text" .File.TranslationBaseName) }}</p>
<p>{{ partial "fn/i18n_args" (slice "annc-frameworks-intro" .Params.libCount $link) | markdownify }}</p>
<p>{{ i18n "annc-frameworks-intro-2" }}</p>

<h2 id="new-in-this-version">{{ i18n "annc-frameworks-new" }}</h2>
{{ end }}
