
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/attica-5.22.0.tar.xz">attica-5.22.0</a></td>
   <td align="right">58kB</td>
   <td><tt>23c4944898016ea1d4760a2c559356dd306a7c33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/baloo-5.22.0.tar.xz">baloo-5.22.0</a></td>
   <td align="right">180kB</td>
   <td><tt>5aa4c553aa4254afd83c81d06ea60aebaa4fac96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/bluez-qt-5.22.0.tar.xz">bluez-qt-5.22.0</a></td>
   <td align="right">71kB</td>
   <td><tt>a95d79b0d836f5d66239d0468d09afe06e9b9fb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/breeze-icons-5.22.0.tar.xz">breeze-icons-5.22.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>7737847f233e1eeef0b178981e2a14534a17dd4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/extra-cmake-modules-5.22.0.tar.xz">extra-cmake-modules-5.22.0</a></td>
   <td align="right">278kB</td>
   <td><tt>32c0b745368bebc304d452f0e5690710c3d93fb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/frameworkintegration-5.22.0.tar.xz">frameworkintegration-5.22.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>e4a5098bf8d444096a35e4c1bd92e6dfa67fecf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kactivities-5.22.0.tar.xz">kactivities-5.22.0</a></td>
   <td align="right">56kB</td>
   <td><tt>84efe29114103dcbe56f82487da473412360b556</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kactivities-stats-5.22.0.tar.xz">kactivities-stats-5.22.0</a></td>
   <td align="right">57kB</td>
   <td><tt>94045db28372b70aff5c9c7ac12ea5af62e89ce9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kapidox-5.22.0.tar.xz">kapidox-5.22.0</a></td>
   <td align="right">143kB</td>
   <td><tt>a894573e2be3dd6276e0f14778cacbeec888b097</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/karchive-5.22.0.tar.xz">karchive-5.22.0</a></td>
   <td align="right">106kB</td>
   <td><tt>d13782c0902691ff4068fe7612768bcabc501757</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kauth-5.22.0.tar.xz">kauth-5.22.0</a></td>
   <td align="right">80kB</td>
   <td><tt>eead7983a0247ad07a507eb2fc6f508765cbefeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kbookmarks-5.22.0.tar.xz">kbookmarks-5.22.0</a></td>
   <td align="right">112kB</td>
   <td><tt>3826c34f6a04304b390cb4ea6ed195c5dc81fde0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kcmutils-5.22.0.tar.xz">kcmutils-5.22.0</a></td>
   <td align="right">229kB</td>
   <td><tt>232b8a55afd9e4f41b1487b5209aa63f6d9814c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kcodecs-5.22.0.tar.xz">kcodecs-5.22.0</a></td>
   <td align="right">212kB</td>
   <td><tt>f9825ce0970fa908be216f577bed93429030bb44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kcompletion-5.22.0.tar.xz">kcompletion-5.22.0</a></td>
   <td align="right">113kB</td>
   <td><tt>d09d149e41fa6c11c1b9a716dc9302aff8f4d2ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kconfig-5.22.0.tar.xz">kconfig-5.22.0</a></td>
   <td align="right">219kB</td>
   <td><tt>95ac63fbcd468c03cdcda781a03b4ad0445ce107</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kconfigwidgets-5.22.0.tar.xz">kconfigwidgets-5.22.0</a></td>
   <td align="right">350kB</td>
   <td><tt>3c59e86381e134df782dae41bdede8da29892226</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kcoreaddons-5.22.0.tar.xz">kcoreaddons-5.22.0</a></td>
   <td align="right">308kB</td>
   <td><tt>29e77be4b3feeeb9a219e376b18f7b82f121259a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kcrash-5.22.0.tar.xz">kcrash-5.22.0</a></td>
   <td align="right">19kB</td>
   <td><tt>fe5d42140e1979c81efc4d754463f32a74dbbb61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kdbusaddons-5.22.0.tar.xz">kdbusaddons-5.22.0</a></td>
   <td align="right">33kB</td>
   <td><tt>4f7bcb0d08d04d6ae304b4c13e028bde08d5a74f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kdeclarative-5.22.0.tar.xz">kdeclarative-5.22.0</a></td>
   <td align="right">163kB</td>
   <td><tt>a03c55979dfa763927d56282c31db8f2379dd991</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kded-5.22.0.tar.xz">kded-5.22.0</a></td>
   <td align="right">35kB</td>
   <td><tt>00f527dbdf0125ef5a7b50c6e54c32bb1c727bd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kdesignerplugin-5.22.0.tar.xz">kdesignerplugin-5.22.0</a></td>
   <td align="right">85kB</td>
   <td><tt>c0e6f86c9fee23ceb6381ae6ad29afafc73f9d29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kdesu-5.22.0.tar.xz">kdesu-5.22.0</a></td>
   <td align="right">43kB</td>
   <td><tt>8b0126c8f5f7f5af3737be97f51692ab08f52c5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kdewebkit-5.22.0.tar.xz">kdewebkit-5.22.0</a></td>
   <td align="right">28kB</td>
   <td><tt>429c22b9fe07095e9bba27771db43d53edc6db95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kdnssd-5.22.0.tar.xz">kdnssd-5.22.0</a></td>
   <td align="right">55kB</td>
   <td><tt>70beacba9d428d350858ba2b2d47c5058603e911</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kdoctools-5.22.0.tar.xz">kdoctools-5.22.0</a></td>
   <td align="right">398kB</td>
   <td><tt>9d85a0b2eb9cd401493a077b6639992631ca8df7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kemoticons-5.22.0.tar.xz">kemoticons-5.22.0</a></td>
   <td align="right">211kB</td>
   <td><tt>8dc11ea6f4c0ae55d7bb783c2519c0eead3a5066</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kfilemetadata-5.22.0.tar.xz">kfilemetadata-5.22.0</a></td>
   <td align="right">128kB</td>
   <td><tt>ef0d3c43becb3bb4979498fa67927d65d48a423a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kglobalaccel-5.22.0.tar.xz">kglobalaccel-5.22.0</a></td>
   <td align="right">79kB</td>
   <td><tt>098a8f36163aa6ee09786cff38b9987c8b1c1ae7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kguiaddons-5.22.0.tar.xz">kguiaddons-5.22.0</a></td>
   <td align="right">38kB</td>
   <td><tt>4dca715a63d168fd455fa1fa4759d1be7e02d1c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/ki18n-5.22.0.tar.xz">ki18n-5.22.0</a></td>
   <td align="right">589kB</td>
   <td><tt>721848da38d7215dd31114454f05395202c7bf1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kiconthemes-5.22.0.tar.xz">kiconthemes-5.22.0</a></td>
   <td align="right">192kB</td>
   <td><tt>ca2f476334760a1cda07ce0d090d794725094f34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kidletime-5.22.0.tar.xz">kidletime-5.22.0</a></td>
   <td align="right">25kB</td>
   <td><tt>1030b1d9b99c316b8e616b4f0d5ed39982751c9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kimageformats-5.22.0.tar.xz">kimageformats-5.22.0</a></td>
   <td align="right">199kB</td>
   <td><tt>9548cca230f58d573c78386fdad70848e83e305d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kinit-5.22.0.tar.xz">kinit-5.22.0</a></td>
   <td align="right">114kB</td>
   <td><tt>f3e4955bbe69cdb4eccf95ee70672561ad982356</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kio-5.22.0.tar.xz">kio-5.22.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>2c621f1f8e304f6ff49b67de5123c5415d0885cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kitemmodels-5.22.0.tar.xz">kitemmodels-5.22.0</a></td>
   <td align="right">377kB</td>
   <td><tt>1fc6a8fa732a943df89b723c40a4b98636d46f35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kitemviews-5.22.0.tar.xz">kitemviews-5.22.0</a></td>
   <td align="right">72kB</td>
   <td><tt>c73a68eb7f250d7856b4aef18b255229141bffd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kjobwidgets-5.22.0.tar.xz">kjobwidgets-5.22.0</a></td>
   <td align="right">86kB</td>
   <td><tt>75696d02b6352bba625cebdb8470e162039e6ee1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/knewstuff-5.22.0.tar.xz">knewstuff-5.22.0</a></td>
   <td align="right">839kB</td>
   <td><tt>e76dba61b17382bbfdaecd71d782b0f757fd74f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/knotifications-5.22.0.tar.xz">knotifications-5.22.0</a></td>
   <td align="right">93kB</td>
   <td><tt>d06ae6c3f109a43957c1b2098d7fe9e54faef9ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/knotifyconfig-5.22.0.tar.xz">knotifyconfig-5.22.0</a></td>
   <td align="right">81kB</td>
   <td><tt>39890fa484bd8266725665f7ffb55be137d1c406</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kpackage-5.22.0.tar.xz">kpackage-5.22.0</a></td>
   <td align="right">105kB</td>
   <td><tt>561ae7817d270f4cc73003d0643b154f04769f18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kparts-5.22.0.tar.xz">kparts-5.22.0</a></td>
   <td align="right">150kB</td>
   <td><tt>127acef58ff1c5874ca6523e91b2ae484fae4a1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kpeople-5.22.0.tar.xz">kpeople-5.22.0</a></td>
   <td align="right">56kB</td>
   <td><tt>c6e8d229f26f2855d400f484db838fc620e37fac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kplotting-5.22.0.tar.xz">kplotting-5.22.0</a></td>
   <td align="right">28kB</td>
   <td><tt>5e63abf52a5555a664124558b226250bf49d9b00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kpty-5.22.0.tar.xz">kpty-5.22.0</a></td>
   <td align="right">55kB</td>
   <td><tt>64ba0f443d75e6b2d7cbcf6fab138e11a311adbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/krunner-5.22.0.tar.xz">krunner-5.22.0</a></td>
   <td align="right">65kB</td>
   <td><tt>16c43397a24b2d13aa383af42b91cc7c97b6a87f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kservice-5.22.0.tar.xz">kservice-5.22.0</a></td>
   <td align="right">262kB</td>
   <td><tt>25b14c22a461b5944973f278adb9ed19450ec0ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/ktexteditor-5.22.0.tar.xz">ktexteditor-5.22.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>5091e65dbda98c15034944fd380dcefb85dc844c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/ktextwidgets-5.22.0.tar.xz">ktextwidgets-5.22.0</a></td>
   <td align="right">299kB</td>
   <td><tt>7eb605d7174c309f58b57417767be76e487377ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kunitconversion-5.22.0.tar.xz">kunitconversion-5.22.0</a></td>
   <td align="right">604kB</td>
   <td><tt>ef294b804246bad8c0da7d764e707a992f391a30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kwallet-5.22.0.tar.xz">kwallet-5.22.0</a></td>
   <td align="right">282kB</td>
   <td><tt>e3f122cdb642937009ecc4f2c8d6718a2f19bb19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kwayland-5.22.0.tar.xz">kwayland-5.22.0</a></td>
   <td align="right">179kB</td>
   <td><tt>60f2969090e47662d3563264fc8161ad0db64dc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kwidgetsaddons-5.22.0.tar.xz">kwidgetsaddons-5.22.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>e5e9b9f825549004eb7887b0c6abe634659ac50e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kwindowsystem-5.22.0.tar.xz">kwindowsystem-5.22.0</a></td>
   <td align="right">161kB</td>
   <td><tt>c00799c308496012dc0b5ac3045d10af996179cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kxmlgui-5.22.0.tar.xz">kxmlgui-5.22.0</a></td>
   <td align="right">847kB</td>
   <td><tt>ea4041a23f17b61a9cc153b0237fde62f2a87e2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/kxmlrpcclient-5.22.0.tar.xz">kxmlrpcclient-5.22.0</a></td>
   <td align="right">27kB</td>
   <td><tt>ac0cb8ddb2d2f41a7ae3fa6503a2717303ee58da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/modemmanager-qt-5.22.0.tar.xz">modemmanager-qt-5.22.0</a></td>
   <td align="right">96kB</td>
   <td><tt>d74a2eddd2ee6d4837500e7506b5e7fb5174dc1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/networkmanager-qt-5.22.0.tar.xz">networkmanager-qt-5.22.0</a></td>
   <td align="right">154kB</td>
   <td><tt>7e1fbe288d784fa227b93ec6954d4d27e9ce4925</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/oxygen-icons5-5.22.0.tar.xz">oxygen-icons5-5.22.0</a></td>
   <td align="right">222MB</td>
   <td><tt>09a93dd350b15f217248794c2eec104854bde107</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/plasma-framework-5.22.0.tar.xz">plasma-framework-5.22.0</a></td>
   <td align="right">3.8MB</td>
   <td><tt>6272e501eb6485ef223b093b257c06eaaf7a84d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/solid-5.22.0.tar.xz">solid-5.22.0</a></td>
   <td align="right">261kB</td>
   <td><tt>0536ed9704246f8c0980724e9702b82dd2d8908f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/sonnet-5.22.0.tar.xz">sonnet-5.22.0</a></td>
   <td align="right">274kB</td>
   <td><tt>33c98287623e1c95551e37791a859d76184e7292</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.22/threadweaver-5.22.0.tar.xz">threadweaver-5.22.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>9a7100670fe21a0d27449ff559d2d27b7adb8b18</tt></td>
</tr>

</table>
