<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/akonadi-21.07.90.tar.xz">akonadi-21.07.90</a></td>
   <td align="right">1569kB</td>
   <td><tt>91290c0ac97cfc51b048f86e0310f8e359d7d539</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/akonadi-calendar-21.07.90.tar.xz">akonadi-calendar-21.07.90</a></td>
   <td align="right">344kB</td>
   <td><tt>30c918ce7177baa6eb70a904e9fe6ab05a733dd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/akonadi-calendar-tools-21.07.90.tar.xz">akonadi-calendar-tools-21.07.90</a></td>
   <td align="right">230kB</td>
   <td><tt>6f3559446a8410ff625c57d548b4be21af967a23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/akonadiconsole-21.07.90.tar.xz">akonadiconsole-21.07.90</a></td>
   <td align="right">195kB</td>
   <td><tt>21631a55a2aa26290c8ff4549b80f9a4b5ecce06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/akonadi-contacts-21.07.90.tar.xz">akonadi-contacts-21.07.90</a></td>
   <td align="right">412kB</td>
   <td><tt>b20f8089e5525a530961492fbc75a05d53aa2a4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/akonadi-import-wizard-21.07.90.tar.xz">akonadi-import-wizard-21.07.90</a></td>
   <td align="right">499kB</td>
   <td><tt>d949618e36097b2a1c850b52b9f1ad4ba09f8471</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/akonadi-mime-21.07.90.tar.xz">akonadi-mime-21.07.90</a></td>
   <td align="right">137kB</td>
   <td><tt>3dbe0f448f1d2ea11b6914110fd4be2db6986a83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/akonadi-notes-21.07.90.tar.xz">akonadi-notes-21.07.90</a></td>
   <td align="right">25kB</td>
   <td><tt>983ac7a90c0f31a056866db7ca02d33a91dd0420</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/akonadi-search-21.07.90.tar.xz">akonadi-search-21.07.90</a></td>
   <td align="right">94kB</td>
   <td><tt>e629c571721345d5578143c86da18501d29f725d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/akregator-21.07.90.tar.xz">akregator-21.07.90</a></td>
   <td align="right">2196kB</td>
   <td><tt>f5363016b1168021627ba6c3c77947b20a0ee57b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/analitza-21.07.90.tar.xz">analitza-21.07.90</a></td>
   <td align="right">338kB</td>
   <td><tt>fcc416a894edfa881c60824ac7d4baaa435439e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/ark-21.07.90.tar.xz">ark-21.07.90</a></td>
   <td align="right">2704kB</td>
   <td><tt>9695e64cf124ded4128be91a816c68ba02a4be38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/artikulate-21.07.90.tar.xz">artikulate-21.07.90</a></td>
   <td align="right">1065kB</td>
   <td><tt>94f2d90e1f09a4f3c2797951b4f63ec0678cedbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/audiocd-kio-21.07.90.tar.xz">audiocd-kio-21.07.90</a></td>
   <td align="right">510kB</td>
   <td><tt>a278d10f873beba96c067cb8bfcf2692d095e36f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/baloo-widgets-21.07.90.tar.xz">baloo-widgets-21.07.90</a></td>
   <td align="right">256kB</td>
   <td><tt>f40d71cedf2774fb10feb91ebcb51745ab4e9b74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/blinken-21.07.90.tar.xz">blinken-21.07.90</a></td>
   <td align="right">2649kB</td>
   <td><tt>acfd99f2b76715ddfc06fad15981e5d9922b41e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/bomber-21.07.90.tar.xz">bomber-21.07.90</a></td>
   <td align="right">811kB</td>
   <td><tt>fd2b928915bb013dddd9ac01591fecb678961817</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/bovo-21.07.90.tar.xz">bovo-21.07.90</a></td>
   <td align="right">203kB</td>
   <td><tt>4c666d6621f7ca261ba85f178ac87bda539a1ee4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/calendarsupport-21.07.90.tar.xz">calendarsupport-21.07.90</a></td>
   <td align="right">750kB</td>
   <td><tt>98a1296b613922eb6954d5ca8f21e210e7f8fbc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/cantor-21.07.90.tar.xz">cantor-21.07.90</a></td>
   <td align="right">8968kB</td>
   <td><tt>49861ea217570664156173e49eb357e5c665955d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/cervisia-21.07.90.tar.xz">cervisia-21.07.90</a></td>
   <td align="right">1866kB</td>
   <td><tt>7f2d1c7543db2be1c30d1d0be8904f1842a1545f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/dolphin-21.07.90.tar.xz">dolphin-21.07.90</a></td>
   <td align="right">5175kB</td>
   <td><tt>bdae5c12c5cdc6a5b568c0dfeee4def376d204f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/dolphin-plugins-21.07.90.tar.xz">dolphin-plugins-21.07.90</a></td>
   <td align="right">245kB</td>
   <td><tt>8d8cdf0707523c7cb09f44e92e5add05cc0cfe76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/dragon-21.07.90.tar.xz">dragon-21.07.90</a></td>
   <td align="right">1626kB</td>
   <td><tt>8c143447d2f011611ccbc10b13de9cab8e35da51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/elisa-21.07.90.tar.xz">elisa-21.07.90</a></td>
   <td align="right">1697kB</td>
   <td><tt>8d8e788e7a5ec4f491070459eca447b44afdd561</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/eventviews-21.07.90.tar.xz">eventviews-21.07.90</a></td>
   <td align="right">440kB</td>
   <td><tt>eaf1702e72bb5146f6643145ef896682d28a8f7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/ffmpegthumbs-21.07.90.tar.xz">ffmpegthumbs-21.07.90</a></td>
   <td align="right">36kB</td>
   <td><tt>187417e0d2fcb8db723508d30b18c92a163f6d31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/filelight-21.07.90.tar.xz">filelight-21.07.90</a></td>
   <td align="right">667kB</td>
   <td><tt>d14d62ba9415a95d2215564b15a9e57e1153fc45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/granatier-21.07.90.tar.xz">granatier-21.07.90</a></td>
   <td align="right">2047kB</td>
   <td><tt>a6e9d1de09e0b4219bde97c1edc82ff5fa08f6d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/grantlee-editor-21.07.90.tar.xz">grantlee-editor-21.07.90</a></td>
   <td align="right">108kB</td>
   <td><tt>0ca056adb95bf9744d8d2d5246535612dac5ec47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/grantleetheme-21.07.90.tar.xz">grantleetheme-21.07.90</a></td>
   <td align="right">58kB</td>
   <td><tt>43e6d153ff78897ae8b099e716d299f8032e9ef6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/gwenview-21.07.90.tar.xz">gwenview-21.07.90</a></td>
   <td align="right">6658kB</td>
   <td><tt>8ab2ad8b305427530fd4a02c457e9896fd199b1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/incidenceeditor-21.07.90.tar.xz">incidenceeditor-21.07.90</a></td>
   <td align="right">527kB</td>
   <td><tt>c8a1d38c413494de9d334aff7476cb80a4cd891a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/itinerary-21.07.90.tar.xz">itinerary-21.07.90</a></td>
   <td align="right">404kB</td>
   <td><tt>a2f2b99e0f49b287c8badb1a8671362006d0c983</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/juk-21.07.90.tar.xz">juk-21.07.90</a></td>
   <td align="right">1966kB</td>
   <td><tt>2f7b345637fc7fa927054188e6895817b34f4f7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/k3b-21.07.90.tar.xz">k3b-21.07.90</a></td>
   <td align="right">10493kB</td>
   <td><tt>a8d3f4ed889e321e1fe995c6f40e3669c7c533bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kaccounts-integration-21.07.90.tar.xz">kaccounts-integration-21.07.90</a></td>
   <td align="right">84kB</td>
   <td><tt>b73dfe4f5a4ec21f1da00924f30e05ca6e79ebac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kaccounts-providers-21.07.90.tar.xz">kaccounts-providers-21.07.90</a></td>
   <td align="right">61kB</td>
   <td><tt>9c82ee50638a55a366a396b027e90b53f29cce9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kaddressbook-21.07.90.tar.xz">kaddressbook-21.07.90</a></td>
   <td align="right">3248kB</td>
   <td><tt>b252d716ed9345ba4c50534b2d12c002ce3f7f06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kajongg-21.07.90.tar.xz">kajongg-21.07.90</a></td>
   <td align="right">4453kB</td>
   <td><tt>31a2453bd4149b0e80413ee54ad1ee82a98423e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kalarm-21.07.90.tar.xz">kalarm-21.07.90</a></td>
   <td align="right">2104kB</td>
   <td><tt>56735c5bcf8d9ab8dc3bbb1cca8adc17ddc5b672</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kalarmcal-21.07.90.tar.xz">kalarmcal-21.07.90</a></td>
   <td align="right">614kB</td>
   <td><tt>656f5e17adba597b4d66e1739ca80f4849365813</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kalgebra-21.07.90.tar.xz">kalgebra-21.07.90</a></td>
   <td align="right">1002kB</td>
   <td><tt>93d5faa6508fef5c37e3de2af0504c5043e0b0d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kalzium-21.07.90.tar.xz">kalzium-21.07.90</a></td>
   <td align="right">24016kB</td>
   <td><tt>a48eddb040ed89959ac8c680f4a6462034411215</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kamera-21.07.90.tar.xz">kamera-21.07.90</a></td>
   <td align="right">113kB</td>
   <td><tt>633ce97c406fb0fea7d75518ad93d1a48605a9c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kamoso-21.07.90.tar.xz">kamoso-21.07.90</a></td>
   <td align="right">209kB</td>
   <td><tt>2b3293c7e2effd1cf0484d653a509e152c8d5243</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kanagram-21.07.90.tar.xz">kanagram-21.07.90</a></td>
   <td align="right">7850kB</td>
   <td><tt>910303141429f943f3c51a432e78b85d02fccaf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kapman-21.07.90.tar.xz">kapman-21.07.90</a></td>
   <td align="right">2413kB</td>
   <td><tt>337f61ab66f5eef7bad2c6ee2d33cbcf7b67128a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kapptemplate-21.07.90.tar.xz">kapptemplate-21.07.90</a></td>
   <td align="right">326kB</td>
   <td><tt>158239cab5b0878f060087c57acbc7b1cfe99fd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kate-21.07.90.tar.xz">kate-21.07.90</a></td>
   <td align="right">7114kB</td>
   <td><tt>efafbe41274be8dda5a4059400f1dff90992d596</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/katomic-21.07.90.tar.xz">katomic-21.07.90</a></td>
   <td align="right">1400kB</td>
   <td><tt>62553e9757bdbe21029d71f85843ab4d6cd7340b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kbackup-21.07.90.tar.xz">kbackup-21.07.90</a></td>
   <td align="right">375kB</td>
   <td><tt>cf864fd72767ffc828c0274c0d8b6e007204ce43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kblackbox-21.07.90.tar.xz">kblackbox-21.07.90</a></td>
   <td align="right">511kB</td>
   <td><tt>9b073396d21b1170d61a06200ba0279d14b8ed69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kblocks-21.07.90.tar.xz">kblocks-21.07.90</a></td>
   <td align="right">2050kB</td>
   <td><tt>e556b18a9eb9a4d14e39451b4ec8d542b42e9d03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kbounce-21.07.90.tar.xz">kbounce-21.07.90</a></td>
   <td align="right">3444kB</td>
   <td><tt>47d15f70262ea82bbad07dfacfc9a559d77be81c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kbreakout-21.07.90.tar.xz">kbreakout-21.07.90</a></td>
   <td align="right">2493kB</td>
   <td><tt>f4a66dbe14f4562db3a5ed562c5af9689e897f1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kbruch-21.07.90.tar.xz">kbruch-21.07.90</a></td>
   <td align="right">5496kB</td>
   <td><tt>08a2c2d9c86ec5c34b73da36d81f9a7291954101</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kcachegrind-21.07.90.tar.xz">kcachegrind-21.07.90</a></td>
   <td align="right">834kB</td>
   <td><tt>8a8649168926607c838d6f606d4bc52722f9db68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kcalc-21.07.90.tar.xz">kcalc-21.07.90</a></td>
   <td align="right">370kB</td>
   <td><tt>172a28a2fc9850880ef0ec25416558bec730ce42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kcalutils-21.07.90.tar.xz">kcalutils-21.07.90</a></td>
   <td align="right">329kB</td>
   <td><tt>e3c5ccb879746f1bdfd1baa31217712515e0beb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kcharselect-21.07.90.tar.xz">kcharselect-21.07.90</a></td>
   <td align="right">360kB</td>
   <td><tt>db30611067f5f25bbe8877c21b1b4530484aaeaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kcolorchooser-21.07.90.tar.xz">kcolorchooser-21.07.90</a></td>
   <td align="right">28kB</td>
   <td><tt>ec030125630c3fad3995fb4cbee44b91abfef279</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kcron-21.07.90.tar.xz">kcron-21.07.90</a></td>
   <td align="right">889kB</td>
   <td><tt>d6cf1db16059ceecc038b6bbdb7cd94d11cd74a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kdebugsettings-21.07.90.tar.xz">kdebugsettings-21.07.90</a></td>
   <td align="right">88kB</td>
   <td><tt>dc10222133aec0bc77006479e5ea23c8e53c7b9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kdeconnect-kde-21.07.90.tar.xz">kdeconnect-kde-21.07.90</a></td>
   <td align="right">575kB</td>
   <td><tt>48b5815868197d7c9674d9ae9eea58befb9fa534</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kde-dev-scripts-21.07.90.tar.xz">kde-dev-scripts-21.07.90</a></td>
   <td align="right">357kB</td>
   <td><tt>b7fdb312204bef5e26a1599cb480acae13aa3efa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kde-dev-utils-21.07.90.tar.xz">kde-dev-utils-21.07.90</a></td>
   <td align="right">66kB</td>
   <td><tt>ee1cc2c8b35ba1c3a2cc038dd74a73ed3e4ddb15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kdeedu-data-21.07.90.tar.xz">kdeedu-data-21.07.90</a></td>
   <td align="right">327kB</td>
   <td><tt>ab5c1156eaae39f19fce84b9954aeb54c9e5b0dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kdegraphics-mobipocket-21.07.90.tar.xz">kdegraphics-mobipocket-21.07.90</a></td>
   <td align="right">16kB</td>
   <td><tt>91406c4d1f04bd414f850cd047addb50dd076363</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kdegraphics-thumbnailers-21.07.90.tar.xz">kdegraphics-thumbnailers-21.07.90</a></td>
   <td align="right">46kB</td>
   <td><tt>82667afd89ef99ff334889d7293cdc6fa8872b0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kdenetwork-filesharing-21.07.90.tar.xz">kdenetwork-filesharing-21.07.90</a></td>
   <td align="right">369kB</td>
   <td><tt>30cdc3e11b7bf9ad8563a0330308d96f421c549d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kdenlive-21.07.90.tar.xz">kdenlive-21.07.90</a></td>
   <td align="right">11523kB</td>
   <td><tt>3b744dae76b8592de6c869e8c556a3ad1f38068b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kdepim-addons-21.07.90.tar.xz">kdepim-addons-21.07.90</a></td>
   <td align="right">2224kB</td>
   <td><tt>8e08c4ef83d69b364a9b2ecfb4777c69e75b4f05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kdepim-runtime-21.07.90.tar.xz">kdepim-runtime-21.07.90</a></td>
   <td align="right">1780kB</td>
   <td><tt>5f3f2c72c5dcdf458293d2909e9a5d25bc49fde3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kdesdk-kioslaves-21.07.90.tar.xz">kdesdk-kioslaves-21.07.90</a></td>
   <td align="right">38kB</td>
   <td><tt>1c018eb95e4b3b9659e093c870fa242ad5759e3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kdesdk-thumbnailers-21.07.90.tar.xz">kdesdk-thumbnailers-21.07.90</a></td>
   <td align="right">25kB</td>
   <td><tt>61d90f200502ca5d8b9c1af2ab0e68ace1a5a90f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kdf-21.07.90.tar.xz">kdf-21.07.90</a></td>
   <td align="right">461kB</td>
   <td><tt>4881f69a309e8937cc70132ab552618aee0adcd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kdialog-21.07.90.tar.xz">kdialog-21.07.90</a></td>
   <td align="right">112kB</td>
   <td><tt>43aed68a1f4b1693c541f6c1a41bf1f98556ca43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kdiamond-21.07.90.tar.xz">kdiamond-21.07.90</a></td>
   <td align="right">4589kB</td>
   <td><tt>d15f88ba15900d876af205dc0bbc195116cc7804</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/keditbookmarks-21.07.90.tar.xz">keditbookmarks-21.07.90</a></td>
   <td align="right">197kB</td>
   <td><tt>ea09e77e2223d1678e537584e0377f3ec48cd8d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kfind-21.07.90.tar.xz">kfind-21.07.90</a></td>
   <td align="right">279kB</td>
   <td><tt>c41bbde07b09c7ecdf4c6cc9987a6a57cee07368</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kfloppy-21.07.90.tar.xz">kfloppy-21.07.90</a></td>
   <td align="right">205kB</td>
   <td><tt>e67271f1f582387a2347f820ce0f3c9103168a38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kfourinline-21.07.90.tar.xz">kfourinline-21.07.90</a></td>
   <td align="right">701kB</td>
   <td><tt>801b288726ac1627ed016a41a777d4f22a56ae2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kgeography-21.07.90.tar.xz">kgeography-21.07.90</a></td>
   <td align="right">10743kB</td>
   <td><tt>fc5542a48fd35b7e34fbca257cc4f666dbfc2014</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kget-21.07.90.tar.xz">kget-21.07.90</a></td>
   <td align="right">5502kB</td>
   <td><tt>1028053936f40d51b4894bcdaf13a29c5f5d5df5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kgoldrunner-21.07.90.tar.xz">kgoldrunner-21.07.90</a></td>
   <td align="right">4642kB</td>
   <td><tt>a2eb365dbd28b9544e0db1724ec2ce2cb3871cb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kgpg-21.07.90.tar.xz">kgpg-21.07.90</a></td>
   <td align="right">2875kB</td>
   <td><tt>34c2c7d1a732e470bb47d54eef31b3acc30d235b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/khangman-21.07.90.tar.xz">khangman-21.07.90</a></td>
   <td align="right">7257kB</td>
   <td><tt>93c44dafb268b2db1345b926c77be3c1fe08e5b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/khelpcenter-21.07.90.tar.xz">khelpcenter-21.07.90</a></td>
   <td align="right">4190kB</td>
   <td><tt>efd8d5b46393a3fad823b50a09b177ea711aa7fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kidentitymanagement-21.07.90.tar.xz">kidentitymanagement-21.07.90</a></td>
   <td align="right">153kB</td>
   <td><tt>b5314604b4efe1812c9365fe1a894b3ccb71d4c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kig-21.07.90.tar.xz">kig-21.07.90</a></td>
   <td align="right">3100kB</td>
   <td><tt>6c5ac623ff6c39d095d256b2b47e3cde2795dddb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kigo-21.07.90.tar.xz">kigo-21.07.90</a></td>
   <td align="right">5128kB</td>
   <td><tt>395c09b7fcebfe95ca08931639b058ee59c793ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/killbots-21.07.90.tar.xz">killbots-21.07.90</a></td>
   <td align="right">1165kB</td>
   <td><tt>1ade41e51a825b0c505dd85a5453818381c68d27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kimagemapeditor-21.07.90.tar.xz">kimagemapeditor-21.07.90</a></td>
   <td align="right">1063kB</td>
   <td><tt>26b53f34045a68afcf754a5f9ff36e04742d1836</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kimap-21.07.90.tar.xz">kimap-21.07.90</a></td>
   <td align="right">124kB</td>
   <td><tt>d67d9dbd17d052ca9f36aa87b7c11349f765e693</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kio-extras-21.07.90.tar.xz">kio-extras-21.07.90</a></td>
   <td align="right">610kB</td>
   <td><tt>03b4127cbdbfbfab4eaef99f9651e28d2e0fb0da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kio-gdrive-21.07.90.tar.xz">kio-gdrive-21.07.90</a></td>
   <td align="right">67kB</td>
   <td><tt>6e74c00452adbb1e307142978cf9a1ce865bf6a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kipi-plugins-21.07.90.tar.xz">kipi-plugins-21.07.90</a></td>
   <td align="right">1508kB</td>
   <td><tt>bd44bf78d2d5b8ed42706381d96e6afa7c0ad69b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kirigami-gallery-21.07.90.tar.xz">kirigami-gallery-21.07.90</a></td>
   <td align="right">321kB</td>
   <td><tt>789b2ba8d3dd08bc7c6784fc41817b3f7171a0ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kiriki-21.07.90.tar.xz">kiriki-21.07.90</a></td>
   <td align="right">356kB</td>
   <td><tt>3f2d87b277e45b95404ac6d58dff8ded495ab2d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kiten-21.07.90.tar.xz">kiten-21.07.90</a></td>
   <td align="right">11047kB</td>
   <td><tt>5708a0d3738ab531cec288aa5f06d6495e82d971</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kitinerary-21.07.90.tar.xz">kitinerary-21.07.90</a></td>
   <td align="right">1795kB</td>
   <td><tt>530bed931c8360c9433c230be6e4ec13751c628a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kjumpingcube-21.07.90.tar.xz">kjumpingcube-21.07.90</a></td>
   <td align="right">315kB</td>
   <td><tt>1918085e8418df3e60ad30e05648e90bcdbe539a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kldap-21.07.90.tar.xz">kldap-21.07.90</a></td>
   <td align="right">167kB</td>
   <td><tt>7fdbf942c06b08180279aaa8e50aeae3c98cbac3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kleopatra-21.07.90.tar.xz">kleopatra-21.07.90</a></td>
   <td align="right">2080kB</td>
   <td><tt>57648de5f25550bf7d896aafc864100bd184b4b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/klettres-21.07.90.tar.xz">klettres-21.07.90</a></td>
   <td align="right">46031kB</td>
   <td><tt>a5adba63f6e89472cb525fae503d3c7f726f7ab3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/klickety-21.07.90.tar.xz">klickety-21.07.90</a></td>
   <td align="right">1456kB</td>
   <td><tt>ea7229ee7bd04d174842b4c7d4e26609f632fcfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/klines-21.07.90.tar.xz">klines-21.07.90</a></td>
   <td align="right">1682kB</td>
   <td><tt>2a9b3c0a2b2d54ff5d95a751eec0bda0256607a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kmag-21.07.90.tar.xz">kmag-21.07.90</a></td>
   <td align="right">689kB</td>
   <td><tt>7d27d979e2002bb34b18805a654adf6836ac3a8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kmahjongg-21.07.90.tar.xz">kmahjongg-21.07.90</a></td>
   <td align="right">3972kB</td>
   <td><tt>0c21fbc0af77f79f427349bcad30959f25263464</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kmail-21.07.90.tar.xz">kmail-21.07.90</a></td>
   <td align="right">6762kB</td>
   <td><tt>5850ea04ec2207b913f85fe7e548afd03a20031a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kmail-account-wizard-21.07.90.tar.xz">kmail-account-wizard-21.07.90</a></td>
   <td align="right">161kB</td>
   <td><tt>7486ec4a93162edef47aca35cee30fb6e0b680ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kmailtransport-21.07.90.tar.xz">kmailtransport-21.07.90</a></td>
   <td align="right">168kB</td>
   <td><tt>59e716531e2e633b0daa4fe6a82a111b0f712e48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kmbox-21.07.90.tar.xz">kmbox-21.07.90</a></td>
   <td align="right">27kB</td>
   <td><tt>5b336e82f629916fa07cb61a61aee7ea852a9989</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kmime-21.07.90.tar.xz">kmime-21.07.90</a></td>
   <td align="right">151kB</td>
   <td><tt>fa67830b57c7484b0cba549c52975744004772c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kmines-21.07.90.tar.xz">kmines-21.07.90</a></td>
   <td align="right">966kB</td>
   <td><tt>00023dde37d253c81cffbf0e94849fc643ad787a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kmix-21.07.90.tar.xz">kmix-21.07.90</a></td>
   <td align="right">1136kB</td>
   <td><tt>1fe303ab5520305126401fec4266559b54575c82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kmousetool-21.07.90.tar.xz">kmousetool-21.07.90</a></td>
   <td align="right">118kB</td>
   <td><tt>36de39261addd261d8232f8bd6782aba9240e4e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kmouth-21.07.90.tar.xz">kmouth-21.07.90</a></td>
   <td align="right">2051kB</td>
   <td><tt>c9086746c1f9db6837ea6c506e78d06de75cc302</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kmplot-21.07.90.tar.xz">kmplot-21.07.90</a></td>
   <td align="right">2971kB</td>
   <td><tt>6468a3135f01fbc741ed35ad250cb3c138f281ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/knavalbattle-21.07.90.tar.xz">knavalbattle-21.07.90</a></td>
   <td align="right">1343kB</td>
   <td><tt>c2a8f03b5ac6ac2d2803acd4aae521a8dd49f860</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/knetwalk-21.07.90.tar.xz">knetwalk-21.07.90</a></td>
   <td align="right">1241kB</td>
   <td><tt>322d355d9f28656bec5ca7cf56d44851a273d6eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/knights-21.07.90.tar.xz">knights-21.07.90</a></td>
   <td align="right">3453kB</td>
   <td><tt>9e6522a72ca87a00cbd56456064025e10c37b2cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/knotes-21.07.90.tar.xz">knotes-21.07.90</a></td>
   <td align="right">334kB</td>
   <td><tt>c53eaff8d85597bb9f8201b1ab2f98424abc1822</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kolf-21.07.90.tar.xz">kolf-21.07.90</a></td>
   <td align="right">1017kB</td>
   <td><tt>1d20f64456622b3c8db65fa053ee90060b6b2ff6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kollision-21.07.90.tar.xz">kollision-21.07.90</a></td>
   <td align="right">284kB</td>
   <td><tt>76aec24095b92f4bf14f15b4129bbdaa328eb012</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kolourpaint-21.07.90.tar.xz">kolourpaint-21.07.90</a></td>
   <td align="right">5580kB</td>
   <td><tt>f07c153f9c0e1180c707b6dd9b45c0ebf5cc2b17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kompare-21.07.90.tar.xz">kompare-21.07.90</a></td>
   <td align="right">920kB</td>
   <td><tt>56671451892b2cb304c32e3c882fe0699a4527e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/konqueror-21.07.90.tar.xz">konqueror-21.07.90</a></td>
   <td align="right">7241kB</td>
   <td><tt>08cdb943d6bfbf49ddb34cba3a8e34cf118d095e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/konquest-21.07.90.tar.xz">konquest-21.07.90</a></td>
   <td align="right">655kB</td>
   <td><tt>9559fd1f2e55414a98ad4bbdcab50bc4a4667175</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/konsole-21.07.90.tar.xz">konsole-21.07.90</a></td>
   <td align="right">1341kB</td>
   <td><tt>d35dbacf17a1e4282cead043d55963fd85033c34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kontact-21.07.90.tar.xz">kontact-21.07.90</a></td>
   <td align="right">790kB</td>
   <td><tt>0101832e65063f4d8eb8e8de0feb5d86d61296c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kontactinterface-21.07.90.tar.xz">kontactinterface-21.07.90</a></td>
   <td align="right">38kB</td>
   <td><tt>1f6e1f75b24d9b05132d84151a0b10fdfff391af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kontrast-21.07.90.tar.xz">kontrast-21.07.90</a></td>
   <td align="right">121kB</td>
   <td><tt>df538fad35a7f2e53dee2a1d64212987d4aab774</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/konversation-21.07.90.tar.xz">konversation-21.07.90</a></td>
   <td align="right">4150kB</td>
   <td><tt>1e343e23831dd230ba8d1f977cf8857b6fbd7ea8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kopeninghours-21.07.90.tar.xz">kopeninghours-21.07.90</a></td>
   <td align="right">63kB</td>
   <td><tt>ebe2dc84f66b782238c508067c26fc16ae9c7bb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kopete-21.07.90.tar.xz">kopete-21.07.90</a></td>
   <td align="right">9437kB</td>
   <td><tt>ed32b606a43e8897adfbd8106b8c07a79ffd56cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/korganizer-21.07.90.tar.xz">korganizer-21.07.90</a></td>
   <td align="right">2336kB</td>
   <td><tt>f0c63fa9613e3529456f9b412d2b80aacb1adf44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kosmindoormap-21.07.90.tar.xz">kosmindoormap-21.07.90</a></td>
   <td align="right">331kB</td>
   <td><tt>8d3aefdc6ef650bd81fce43f87b0bb5b29d28c61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kpat-21.07.90.tar.xz">kpat-21.07.90</a></td>
   <td align="right">3640kB</td>
   <td><tt>5deb89b6b689c6fe0df4dd7e07e2b0ad456ed14b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kpimtextedit-21.07.90.tar.xz">kpimtextedit-21.07.90</a></td>
   <td align="right">199kB</td>
   <td><tt>487d90702fd75b03a0369ec4a992b65d9d2210cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kpkpass-21.07.90.tar.xz">kpkpass-21.07.90</a></td>
   <td align="right">27kB</td>
   <td><tt>4739ddd75c5bea176833613526ce54762f4e1c35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kpmcore-21.07.90.tar.xz">kpmcore-21.07.90</a></td>
   <td align="right">575kB</td>
   <td><tt>705a3d6211d1f3a5742107562a97961f747cde9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kpublictransport-21.07.90.tar.xz">kpublictransport-21.07.90</a></td>
   <td align="right">398kB</td>
   <td><tt>4118bf06f0d802426bbb5220a1e844872bad638a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kqtquickcharts-21.07.90.tar.xz">kqtquickcharts-21.07.90</a></td>
   <td align="right">29kB</td>
   <td><tt>46d064982f0c58831547d9c216b1592ed28467ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/krdc-21.07.90.tar.xz">krdc-21.07.90</a></td>
   <td align="right">1545kB</td>
   <td><tt>79d029b6428a02df3a21d0590c20a43f89d7eb7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kreversi-21.07.90.tar.xz">kreversi-21.07.90</a></td>
   <td align="right">940kB</td>
   <td><tt>60dd549cbb98a7f7acc00b9ffb326918920e7903</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/krfb-21.07.90.tar.xz">krfb-21.07.90</a></td>
   <td align="right">1263kB</td>
   <td><tt>18a934bbdf167c5f8158a72272bd3b3cd42fd8d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kross-interpreters-21.07.90.tar.xz">kross-interpreters-21.07.90</a></td>
   <td align="right">147kB</td>
   <td><tt>4c8c0726b8617bf909a2b2fd3cdc477f961e35ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kruler-21.07.90.tar.xz">kruler-21.07.90</a></td>
   <td align="right">270kB</td>
   <td><tt>0dee8c88344a414247e99ed925e07cb3f23174fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kshisen-21.07.90.tar.xz">kshisen-21.07.90</a></td>
   <td align="right">964kB</td>
   <td><tt>07024718c99ffcea1c2c4234e24c2408c8b51bc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/ksirk-21.07.90.tar.xz">ksirk-21.07.90</a></td>
   <td align="right">6833kB</td>
   <td><tt>020aa3bc85b10ac14ac008625cc0032df665f22f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/ksmtp-21.07.90.tar.xz">ksmtp-21.07.90</a></td>
   <td align="right">45kB</td>
   <td><tt>e508345ece3353612b4345d7fddfc719e534cd75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/ksnakeduel-21.07.90.tar.xz">ksnakeduel-21.07.90</a></td>
   <td align="right">532kB</td>
   <td><tt>a5ad76d784cad5963e1cfb5c3295595b65b2c165</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kspaceduel-21.07.90.tar.xz">kspaceduel-21.07.90</a></td>
   <td align="right">606kB</td>
   <td><tt>cc3bc8f5a3f39caac0444d7371d34fa162ba83bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/ksquares-21.07.90.tar.xz">ksquares-21.07.90</a></td>
   <td align="right">261kB</td>
   <td><tt>32e70514e2344ccd23c4dd7c6428fe9aa1c4e191</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/ksudoku-21.07.90.tar.xz">ksudoku-21.07.90</a></td>
   <td align="right">1640kB</td>
   <td><tt>a6e4fa2ee88a99c8e4fbc6790e169fdcafa0c6e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/ksystemlog-21.07.90.tar.xz">ksystemlog-21.07.90</a></td>
   <td align="right">1918kB</td>
   <td><tt>153b70e4f802a79e01c5d11d91158bb67df38b9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kteatime-21.07.90.tar.xz">kteatime-21.07.90</a></td>
   <td align="right">292kB</td>
   <td><tt>93105cf2eaa6a46706041b2533b68c932964d558</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/ktimer-21.07.90.tar.xz">ktimer-21.07.90</a></td>
   <td align="right">379kB</td>
   <td><tt>d15d4f10acc5c6d08a0fb8a7e3b6c5062be48789</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/ktnef-21.07.90.tar.xz">ktnef-21.07.90</a></td>
   <td align="right">298kB</td>
   <td><tt>0341dc86f9c2b4c203b75471e277c2feecc5931d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/ktorrent-21.07.90.tar.xz">ktorrent-21.07.90</a></td>
   <td align="right">2041kB</td>
   <td><tt>d3ec86190eb44cf56b2a96c16f24612df4a3f154</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/ktouch-21.07.90.tar.xz">ktouch-21.07.90</a></td>
   <td align="right">4848kB</td>
   <td><tt>1f32b509d95e7f3b25a28f328124d5f7d762cf33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/ktp-accounts-kcm-21.07.90.tar.xz">ktp-accounts-kcm-21.07.90</a></td>
   <td align="right">260kB</td>
   <td><tt>cab11a8b4ae7f424f32cd720c56de3a0c5751b95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/ktp-approver-21.07.90.tar.xz">ktp-approver-21.07.90</a></td>
   <td align="right">37kB</td>
   <td><tt>0a364b527cf1733a79b8f1c0b65e875ef7f642e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/ktp-auth-handler-21.07.90.tar.xz">ktp-auth-handler-21.07.90</a></td>
   <td align="right">46kB</td>
   <td><tt>f633040e566fd4ff0cc721662e63eb68ed93982d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/ktp-call-ui-21.07.90.tar.xz">ktp-call-ui-21.07.90</a></td>
   <td align="right">96kB</td>
   <td><tt>ad72308d4d037579f6f9821f5441c72303a1d3c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/ktp-common-internals-21.07.90.tar.xz">ktp-common-internals-21.07.90</a></td>
   <td align="right">440kB</td>
   <td><tt>783b7ee06a03db4616fd6cd9f4b32213399e7c40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/ktp-contact-list-21.07.90.tar.xz">ktp-contact-list-21.07.90</a></td>
   <td align="right">149kB</td>
   <td><tt>6f789cdc080d6f056859fe9d299fc8b028d59381</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/ktp-contact-runner-21.07.90.tar.xz">ktp-contact-runner-21.07.90</a></td>
   <td align="right">42kB</td>
   <td><tt>11e207507e80ed7299ff16bc06177b19fff23927</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/ktp-desktop-applets-21.07.90.tar.xz">ktp-desktop-applets-21.07.90</a></td>
   <td align="right">43kB</td>
   <td><tt>9f3ed764c9f3b989cef4e346e5d65d0f89aa8092</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/ktp-filetransfer-handler-21.07.90.tar.xz">ktp-filetransfer-handler-21.07.90</a></td>
   <td align="right">45kB</td>
   <td><tt>30b598e4e0907962455ff0a04c47558cf7dd5200</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/ktp-kded-module-21.07.90.tar.xz">ktp-kded-module-21.07.90</a></td>
   <td align="right">96kB</td>
   <td><tt>78be85957253c7af578aafdeab62049fe06e22da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/ktp-send-file-21.07.90.tar.xz">ktp-send-file-21.07.90</a></td>
   <td align="right">28kB</td>
   <td><tt>9fdb2f92ab0ab9500c0c140e702b11c1d9af9ba7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/ktp-text-ui-21.07.90.tar.xz">ktp-text-ui-21.07.90</a></td>
   <td align="right">463kB</td>
   <td><tt>6b648364454af17b7fdbf66baaf22620667be4ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/ktuberling-21.07.90.tar.xz">ktuberling-21.07.90</a></td>
   <td align="right">69090kB</td>
   <td><tt>64ce0239784acf6ea423d414ea961ad53cbd9d8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kturtle-21.07.90.tar.xz">kturtle-21.07.90</a></td>
   <td align="right">1925kB</td>
   <td><tt>6621a61e8232675720e7142af8a2c8dfe36566a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kubrick-21.07.90.tar.xz">kubrick-21.07.90</a></td>
   <td align="right">335kB</td>
   <td><tt>cc048602d1e927165a90e31b3b0a8391c7ff19b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kwalletmanager-21.07.90.tar.xz">kwalletmanager-21.07.90</a></td>
   <td align="right">778kB</td>
   <td><tt>87dd20ecb6d55b4b0e43aa1f01449b2f65110e63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kwave-21.07.90.tar.xz">kwave-21.07.90</a></td>
   <td align="right">6737kB</td>
   <td><tt>9a8891a75df1c8641bae431a648bfa4f3cd1bbbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/kwordquiz-21.07.90.tar.xz">kwordquiz-21.07.90</a></td>
   <td align="right">4110kB</td>
   <td><tt>7c6d9122e324e42b28d66666f8205d89e4c2cb18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/libgravatar-21.07.90.tar.xz">libgravatar-21.07.90</a></td>
   <td align="right">33kB</td>
   <td><tt>cbb879640ca09b51d6e949d39bf1e7813dcd0ff1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/libkcddb-21.07.90.tar.xz">libkcddb-21.07.90</a></td>
   <td align="right">419kB</td>
   <td><tt>8eaa5961ab7e175647dff32db23616ad8562a9da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/libkcompactdisc-21.07.90.tar.xz">libkcompactdisc-21.07.90</a></td>
   <td align="right">94kB</td>
   <td><tt>a275ae166ff4ac6d77546f237ece22f96d5bb3b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/libkdcraw-21.07.90.tar.xz">libkdcraw-21.07.90</a></td>
   <td align="right">36kB</td>
   <td><tt>d77d1cddd963637d697ab6910db0df9db39978c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/libkdegames-21.07.90.tar.xz">libkdegames-21.07.90</a></td>
   <td align="right">6254kB</td>
   <td><tt>4b17f34e7701f9bdbcc223332f8edc052be89d50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/libkdepim-21.07.90.tar.xz">libkdepim-21.07.90</a></td>
   <td align="right">247kB</td>
   <td><tt>8dc664eb0fd2061d1bde535ca125a21a0c5d131f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/libkeduvocdocument-21.07.90.tar.xz">libkeduvocdocument-21.07.90</a></td>
   <td align="right">212kB</td>
   <td><tt>f2f89f3e95871adde24c406f7d066fe5d2b109c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/libkexiv2-21.07.90.tar.xz">libkexiv2-21.07.90</a></td>
   <td align="right">57kB</td>
   <td><tt>4e8a070e85de0e339da62865491769de2e4f6315</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/libkgapi-21.07.90.tar.xz">libkgapi-21.07.90</a></td>
   <td align="right">241kB</td>
   <td><tt>2efa20eb0508d7c35aef6b769bc4effc78e80b92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/libkipi-21.07.90.tar.xz">libkipi-21.07.90</a></td>
   <td align="right">100kB</td>
   <td><tt>6ba6952fc58082d57e7046e4bbaa09127dcfa822</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/libkleo-21.07.90.tar.xz">libkleo-21.07.90</a></td>
   <td align="right">425kB</td>
   <td><tt>78d15d8493de413102aa3bda11987bec4363c31a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/libkmahjongg-21.07.90.tar.xz">libkmahjongg-21.07.90</a></td>
   <td align="right">1640kB</td>
   <td><tt>d5e049caa555378025c5a7444f5edda0c4c3351e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/libkomparediff2-21.07.90.tar.xz">libkomparediff2-21.07.90</a></td>
   <td align="right">168kB</td>
   <td><tt>6fd62a949ab415aeedeec525c9c9f920175a5fd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/libksane-21.07.90.tar.xz">libksane-21.07.90</a></td>
   <td align="right">151kB</td>
   <td><tt>fbe0cec7bca7b9c6d1c7970fb293624aaaa87ee5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/libksieve-21.07.90.tar.xz">libksieve-21.07.90</a></td>
   <td align="right">554kB</td>
   <td><tt>ad784ff99b33a1952b6e1bd92a8d95fbed4dd5c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/libktorrent-21.07.90.tar.xz">libktorrent-21.07.90</a></td>
   <td align="right">592kB</td>
   <td><tt>ba8310084ef09edaa6c9c798fdf67d447ecd079d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/lokalize-21.07.90.tar.xz">lokalize-21.07.90</a></td>
   <td align="right">1987kB</td>
   <td><tt>5850d8062ef028b106fc5bb3ea88873f16d876d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/lskat-21.07.90.tar.xz">lskat-21.07.90</a></td>
   <td align="right">1201kB</td>
   <td><tt>870a337bd73de991a430316299f45aeb196fb041</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/mailcommon-21.07.90.tar.xz">mailcommon-21.07.90</a></td>
   <td align="right">712kB</td>
   <td><tt>cc5ebbdbdef33b11664f0eb78f913b18030fdf6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/mailimporter-21.07.90.tar.xz">mailimporter-21.07.90</a></td>
   <td align="right">545kB</td>
   <td><tt>24431e673f1fd0177b5ab75c80d436b7884b65f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/marble-21.07.90.tar.xz">marble-21.07.90</a></td>
   <td align="right">51169kB</td>
   <td><tt>c497cf36cf92c595d972d06fdb3f6fa5c9288eac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/markdownpart-21.07.90.tar.xz">markdownpart-21.07.90</a></td>
   <td align="right">27kB</td>
   <td><tt>d2dae317b61232aa81f1c042929314c7f339d623</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/mbox-importer-21.07.90.tar.xz">mbox-importer-21.07.90</a></td>
   <td align="right">27kB</td>
   <td><tt>dcf724a4a76d2baa400a9fff541ed3859f6bd46f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/messagelib-21.07.90.tar.xz">messagelib-21.07.90</a></td>
   <td align="right">10528kB</td>
   <td><tt>d679a3f8289164e57c0a5b96d1504a2a7b47af84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/minuet-21.07.90.tar.xz">minuet-21.07.90</a></td>
   <td align="right">27079kB</td>
   <td><tt>129e480951b4aa2b05788fbe7a2133047742ce66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/okular-21.07.90.tar.xz">okular-21.07.90</a></td>
   <td align="right">7893kB</td>
   <td><tt>2355a0a4a673bba6806e98691a7c9fdbf31cabe3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/palapeli-21.07.90.tar.xz">palapeli-21.07.90</a></td>
   <td align="right">2028kB</td>
   <td><tt>84350c23309795008e78cae9af5fe67d1d0823fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/parley-21.07.90.tar.xz">parley-21.07.90</a></td>
   <td align="right">8676kB</td>
   <td><tt>0fbb26232111f73d1693b648ee8c520b20b404c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/partitionmanager-21.07.90.tar.xz">partitionmanager-21.07.90</a></td>
   <td align="right">2048kB</td>
   <td><tt>c345d486421e587ad0502bd1b8a3f31291ab036d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/picmi-21.07.90.tar.xz">picmi-21.07.90</a></td>
   <td align="right">1337kB</td>
   <td><tt>72a387853eadbd7e65f63c32529ac55f20818b8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/pimcommon-21.07.90.tar.xz">pimcommon-21.07.90</a></td>
   <td align="right">359kB</td>
   <td><tt>a7d2af5de4e19af9eaea741683f4b3ce6d1643e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/pim-data-exporter-21.07.90.tar.xz">pim-data-exporter-21.07.90</a></td>
   <td align="right">387kB</td>
   <td><tt>bb3f59ec6e4ce0aa09d2b95be73c9548b47cb899</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/pim-sieve-editor-21.07.90.tar.xz">pim-sieve-editor-21.07.90</a></td>
   <td align="right">446kB</td>
   <td><tt>2508334694df9c7d3c25a68b916729215f3f090b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/poxml-21.07.90.tar.xz">poxml-21.07.90</a></td>
   <td align="right">42kB</td>
   <td><tt>d14f430f3546f1b92dde64440ae0231913e36f52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/print-manager-21.07.90.tar.xz">print-manager-21.07.90</a></td>
   <td align="right">263kB</td>
   <td><tt>db3cba144d3b553a43b8f5588343d44872b5b07b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/rocs-21.07.90.tar.xz">rocs-21.07.90</a></td>
   <td align="right">1518kB</td>
   <td><tt>fbbc795d1fa59ec54856589c1de56ecd194eb21b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/signon-kwallet-extension-21.07.90.tar.xz">signon-kwallet-extension-21.07.90</a></td>
   <td align="right">10kB</td>
   <td><tt>b804ab71b79be4c206bd1fa2f587ab551eb5a18b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/skanlite-21.07.90.tar.xz">skanlite-21.07.90</a></td>
   <td align="right">2369kB</td>
   <td><tt>a2842f6ade893a60605b0b0d8c0c86e06447e7e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/spectacle-21.07.90.tar.xz">spectacle-21.07.90</a></td>
   <td align="right">1184kB</td>
   <td><tt>059ecef83624b53a703eb9e5e2635fc874a4e36a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/step-21.07.90.tar.xz">step-21.07.90</a></td>
   <td align="right">953kB</td>
   <td><tt>5687bd4eb6ea10d9fe06b7f28f58a5f959ffb228</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/svgpart-21.07.90.tar.xz">svgpart-21.07.90</a></td>
   <td align="right">23kB</td>
   <td><tt>ab1b65fa0ab9050aa82aa2d48c1e0bfd5fd488b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/sweeper-21.07.90.tar.xz">sweeper-21.07.90</a></td>
   <td align="right">368kB</td>
   <td><tt>b08d95b38c938a0aff12a63ef104e92c1acfc1e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/umbrello-21.07.90.tar.xz">umbrello-21.07.90</a></td>
   <td align="right">5517kB</td>
   <td><tt>3625ed8f325f370020606651eba0a85ae27387ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/yakuake-21.07.90.tar.xz">yakuake-21.07.90</a></td>
   <td align="right">383kB</td>
   <td><tt>47839ae1064fa499b072fedee3c3baf4acdd52a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.07.90/src/zeroconf-ioslave-21.07.90.tar.xz">zeroconf-ioslave-21.07.90</a></td>
   <td align="right">37kB</td>
   <td><tt>1703cb7ce8076f7b1e8db533a13df60b39ae7d1a</tt></td>
</tr>

</table>
