
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/attica-5.41.0.tar.xz">attica-5.41.0</a></td>
   <td align="right">59kB</td>
   <td><tt>ceaaac505ad122d364c04ec53969d83d914b2f7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/baloo-5.41.0.tar.xz">baloo-5.41.0</a></td>
   <td align="right">195kB</td>
   <td><tt>0037c3c4b24c367e2a30442d953f31e935fd7c08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/bluez-qt-5.41.0.tar.xz">bluez-qt-5.41.0</a></td>
   <td align="right">73kB</td>
   <td><tt>c83eb7e20dafb32192ae254d5f1ead31a3c1603d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/breeze-icons-5.41.0.tar.xz">breeze-icons-5.41.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>ec3551c9d20d87f118369ab6714b5a65eb002460</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/extra-cmake-modules-5.41.0.tar.xz">extra-cmake-modules-5.41.0</a></td>
   <td align="right">306kB</td>
   <td><tt>ef5c552af9212ee7e0a563b8407f5daf9d2d808e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/frameworkintegration-5.41.0.tar.xz">frameworkintegration-5.41.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>0eb338d7397ca55a59842b237e6cd2ba1bc0797c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kactivities-5.41.0.tar.xz">kactivities-5.41.0</a></td>
   <td align="right">59kB</td>
   <td><tt>3155b4d33ae5b146c2edcc2d461069133226acf1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kactivities-stats-5.41.0.tar.xz">kactivities-stats-5.41.0</a></td>
   <td align="right">59kB</td>
   <td><tt>7b88d9fb70f4a74ce4fbaf50978d22d045918443</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kapidox-5.41.0.tar.xz">kapidox-5.41.0</a></td>
   <td align="right">386kB</td>
   <td><tt>d53a70cd180936f7f5bf469a341d51caa5a25dda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/karchive-5.41.0.tar.xz">karchive-5.41.0</a></td>
   <td align="right">110kB</td>
   <td><tt>d945571a3e23e41073c93ed1e00af68a8277a9a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kauth-5.41.0.tar.xz">kauth-5.41.0</a></td>
   <td align="right">82kB</td>
   <td><tt>c27eca013d745a9bac55da62c86e7c517a3b12f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kbookmarks-5.41.0.tar.xz">kbookmarks-5.41.0</a></td>
   <td align="right">114kB</td>
   <td><tt>8a831486fd8259ba2ac7bb03bf756e2a9c24aac1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kcmutils-5.41.0.tar.xz">kcmutils-5.41.0</a></td>
   <td align="right">230kB</td>
   <td><tt>b6a35a1e06d1f0bb98c3ae58c9dc6105cd2cc63f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kcodecs-5.41.0.tar.xz">kcodecs-5.41.0</a></td>
   <td align="right">214kB</td>
   <td><tt>527a553150aecfafad3fc8fbdfccc99c9735e9bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kcompletion-5.41.0.tar.xz">kcompletion-5.41.0</a></td>
   <td align="right">116kB</td>
   <td><tt>1c20c68356ccbc09174a07595860f5a014a0b686</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kconfig-5.41.0.tar.xz">kconfig-5.41.0</a></td>
   <td align="right">229kB</td>
   <td><tt>432bbad612ec3efaa7134e18befd802db10f82e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kconfigwidgets-5.41.0.tar.xz">kconfigwidgets-5.41.0</a></td>
   <td align="right">366kB</td>
   <td><tt>e71348cc9bb613aff35aa676f7330c6027d8e94f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kcoreaddons-5.41.0.tar.xz">kcoreaddons-5.41.0</a></td>
   <td align="right">344kB</td>
   <td><tt>9248458b93de8858e6fcbe8e896039ca3ee6655d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kcrash-5.41.0.tar.xz">kcrash-5.41.0</a></td>
   <td align="right">21kB</td>
   <td><tt>08029ce2b28651d53ffa679bf6966509aabad2c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kdbusaddons-5.41.0.tar.xz">kdbusaddons-5.41.0</a></td>
   <td align="right">35kB</td>
   <td><tt>9279bc52362133ce3d05b37f161ff007f59a1797</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kdeclarative-5.41.0.tar.xz">kdeclarative-5.41.0</a></td>
   <td align="right">164kB</td>
   <td><tt>fef9c778c69339668d82faded7b3233693dc4533</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kded-5.41.0.tar.xz">kded-5.41.0</a></td>
   <td align="right">37kB</td>
   <td><tt>2577e1686275b8d01e54df99b5a03d54da2140d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kdesignerplugin-5.41.0.tar.xz">kdesignerplugin-5.41.0</a></td>
   <td align="right">88kB</td>
   <td><tt>fb5f09088d5d853aa19bac346229b0907d0cd75c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kdesu-5.41.0.tar.xz">kdesu-5.41.0</a></td>
   <td align="right">44kB</td>
   <td><tt>d3a17dcc59cecdf57b2fe21adeb779e0e756a697</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kdewebkit-5.41.0.tar.xz">kdewebkit-5.41.0</a></td>
   <td align="right">28kB</td>
   <td><tt>876fc0de9dfd61ae5fbd107a9634eae1edb4f89d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kdnssd-5.41.0.tar.xz">kdnssd-5.41.0</a></td>
   <td align="right">55kB</td>
   <td><tt>b24d29ad7917943b1e9d04e39a5233a30756d066</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kdoctools-5.41.0.tar.xz">kdoctools-5.41.0</a></td>
   <td align="right">412kB</td>
   <td><tt>1b5cd40dd26a75350da42d6bb65df7ec8a1e4e13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kemoticons-5.41.0.tar.xz">kemoticons-5.41.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>f5fc3008d6ae941b34a4294d70d020bec0419aa7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kfilemetadata-5.41.0.tar.xz">kfilemetadata-5.41.0</a></td>
   <td align="right">215kB</td>
   <td><tt>9ea7df6ee4650bbe8dd147637063bb533093294c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kglobalaccel-5.41.0.tar.xz">kglobalaccel-5.41.0</a></td>
   <td align="right">81kB</td>
   <td><tt>1f98752ace60a0293eb03061b180483a8a1b871b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kguiaddons-5.41.0.tar.xz">kguiaddons-5.41.0</a></td>
   <td align="right">39kB</td>
   <td><tt>3cfa660f96af9774af36d8eb94aa1fda40c27414</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/ki18n-5.41.0.tar.xz">ki18n-5.41.0</a></td>
   <td align="right">573kB</td>
   <td><tt>7406d74d31faf01746a63c23a3fd59df63610ee5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kiconthemes-5.41.0.tar.xz">kiconthemes-5.41.0</a></td>
   <td align="right">200kB</td>
   <td><tt>9dd56c745f7567cc622279bcddeed9b0a572c06e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kidletime-5.41.0.tar.xz">kidletime-5.41.0</a></td>
   <td align="right">25kB</td>
   <td><tt>0ac8b5ed2c188dd248fe324b71ce285b744599ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kimageformats-5.41.0.tar.xz">kimageformats-5.41.0</a></td>
   <td align="right">199kB</td>
   <td><tt>689b0e49b6dd8aa3019fd9c91de66906f0300263</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kinit-5.41.0.tar.xz">kinit-5.41.0</a></td>
   <td align="right">118kB</td>
   <td><tt>7178a9065204014bdbbafd89adb38704deb0c80b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kio-5.41.0.tar.xz">kio-5.41.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>6beac80ca4313916e9371ff16c7ebded01b92da4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kirigami2-5.41.0.tar.xz">kirigami2-5.41.0</a></td>
   <td align="right">285kB</td>
   <td><tt>12beda99f67f6c43dcbee6a187b06d56d08684d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kitemmodels-5.41.0.tar.xz">kitemmodels-5.41.0</a></td>
   <td align="right">380kB</td>
   <td><tt>aedf37beddf2cd136cd4a10a80f8b993e79833a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kitemviews-5.41.0.tar.xz">kitemviews-5.41.0</a></td>
   <td align="right">73kB</td>
   <td><tt>8c3cc59c2b39347cfd58c87739a7aa34ed9fbe0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kjobwidgets-5.41.0.tar.xz">kjobwidgets-5.41.0</a></td>
   <td align="right">87kB</td>
   <td><tt>1d18b7bb8f6e0ce47a568d4828f0133563f557f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/knewstuff-5.41.0.tar.xz">knewstuff-5.41.0</a></td>
   <td align="right">890kB</td>
   <td><tt>c5c2c89615bf55f36b220dfd340cc945f5228d3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/knotifications-5.41.0.tar.xz">knotifications-5.41.0</a></td>
   <td align="right">97kB</td>
   <td><tt>07028bf75c1713adbfd9cd220d2bba577ca17c56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/knotifyconfig-5.41.0.tar.xz">knotifyconfig-5.41.0</a></td>
   <td align="right">81kB</td>
   <td><tt>7526d93adeff4423bba04abbe0b09440efde4652</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kpackage-5.41.0.tar.xz">kpackage-5.41.0</a></td>
   <td align="right">123kB</td>
   <td><tt>f0922df89237688c612f2f5fa5fa9e42d3b6799a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kparts-5.41.0.tar.xz">kparts-5.41.0</a></td>
   <td align="right">171kB</td>
   <td><tt>3cccd616622e0cbdd368fef23cebc842c827349f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kpeople-5.41.0.tar.xz">kpeople-5.41.0</a></td>
   <td align="right">58kB</td>
   <td><tt>88c55c51cf3090b54f4eacf3a1488edea27cee12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kplotting-5.41.0.tar.xz">kplotting-5.41.0</a></td>
   <td align="right">29kB</td>
   <td><tt>c8c97f455288be4422b6bf4df08c5fb498414adf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kpty-5.41.0.tar.xz">kpty-5.41.0</a></td>
   <td align="right">56kB</td>
   <td><tt>4a7d7a264732829f6b56f905b579e3fcfb98d2ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/krunner-5.41.0.tar.xz">krunner-5.41.0</a></td>
   <td align="right">58kB</td>
   <td><tt>22b70e8bee214c6d9837d3b86e8a808343da1153</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kservice-5.41.0.tar.xz">kservice-5.41.0</a></td>
   <td align="right">244kB</td>
   <td><tt>82d7519323de1a924c05c44738a26a3fffcc91c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/ktexteditor-5.41.0.tar.xz">ktexteditor-5.41.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>d9ffd240d49448317b6ae8547585ea4db66fcbc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/ktextwidgets-5.41.0.tar.xz">ktextwidgets-5.41.0</a></td>
   <td align="right">301kB</td>
   <td><tt>3dbcdab6e9dab4cdadfcecc33f486c38760ad928</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kunitconversion-5.41.0.tar.xz">kunitconversion-5.41.0</a></td>
   <td align="right">753kB</td>
   <td><tt>6b1490f41b585c1196ba48ca735481a016708e04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kwallet-5.41.0.tar.xz">kwallet-5.41.0</a></td>
   <td align="right">299kB</td>
   <td><tt>6c6eee6baa6a1733d383bb06e1b4163065a9dc8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kwayland-5.41.0.tar.xz">kwayland-5.41.0</a></td>
   <td align="right">282kB</td>
   <td><tt>18203d24afb3125d57a588f73496053901f02562</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kwidgetsaddons-5.41.0.tar.xz">kwidgetsaddons-5.41.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>3c5a7f0a2d8cc541bff6edcba9996dac042ab113</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kwindowsystem-5.41.0.tar.xz">kwindowsystem-5.41.0</a></td>
   <td align="right">165kB</td>
   <td><tt>78bae502e2b21ffee56cacf7f616060a33a5d054</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kxmlgui-5.41.0.tar.xz">kxmlgui-5.41.0</a></td>
   <td align="right">863kB</td>
   <td><tt>7992b037e952940a975edef107e6a47415c08c8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/kxmlrpcclient-5.41.0.tar.xz">kxmlrpcclient-5.41.0</a></td>
   <td align="right">28kB</td>
   <td><tt>56b7991081bf7e90e92c35d2f5d641f785d5aa21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/modemmanager-qt-5.41.0.tar.xz">modemmanager-qt-5.41.0</a></td>
   <td align="right">96kB</td>
   <td><tt>f4a830840417c460ab30f6b39d021699b537fc73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/networkmanager-qt-5.41.0.tar.xz">networkmanager-qt-5.41.0</a></td>
   <td align="right">159kB</td>
   <td><tt>d48f0a0e7a1ef6b6edf232636640f9b98c560639</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/oxygen-icons5-5.41.0.tar.xz">oxygen-icons5-5.41.0</a></td>
   <td align="right">223MB</td>
   <td><tt>3c54e86d74bc45fd62422347118cc5239cf3cd20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/plasma-framework-5.41.0.tar.xz">plasma-framework-5.41.0</a></td>
   <td align="right">4.3MB</td>
   <td><tt>6404d64bcb6c473cfbfc094c6883be888ced13c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/prison-5.41.0.tar.xz">prison-5.41.0</a></td>
   <td align="right">36kB</td>
   <td><tt>273fcc02be6ea1f7a602143dadea1b1b80428898</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/qqc2-desktop-style-5.41.0.tar.xz">qqc2-desktop-style-5.41.0</a></td>
   <td align="right">35kB</td>
   <td><tt>1167645975068afe08fc7ee93773114b4a23a987</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/solid-5.41.0.tar.xz">solid-5.41.0</a></td>
   <td align="right">242kB</td>
   <td><tt>c9ac8c2eb236a0ff91d086507d02203d300bd1db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/sonnet-5.41.0.tar.xz">sonnet-5.41.0</a></td>
   <td align="right">278kB</td>
   <td><tt>c945c1ea6486bfdb2e710c296b6a02f8dd038baa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/syntax-highlighting-5.41.0.tar.xz">syntax-highlighting-5.41.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>ad61d8625a5bcc7d20dabe73509b3db53536d5f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.41/threadweaver-5.41.0.tar.xz">threadweaver-5.41.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>1861ebbfedcd1329bf2aeb478d98f989a9500f2a</tt></td>
</tr>

</table>
