<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/akonadi-19.03.80.tar.xz">akonadi-19.03.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>ac5a4112b39a1b0bc02aa3d9892b4d93906d1766</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/akonadi-calendar-19.03.80.tar.xz">akonadi-calendar-19.03.80</a></td>
   <td align="right">325kB</td>
   <td><tt>0e04322768971683f74b60603a11af1277a72a5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/akonadi-calendar-tools-19.03.80.tar.xz">akonadi-calendar-tools-19.03.80</a></td>
   <td align="right">218kB</td>
   <td><tt>6ce482204fae9fcabe1e3a1c4301f3cd8ea0302d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/akonadiconsole-19.03.80.tar.xz">akonadiconsole-19.03.80</a></td>
   <td align="right">189kB</td>
   <td><tt>0ccd05a9cef7e6f7aac78a9d67ca91d13aa8e45b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/akonadi-contacts-19.03.80.tar.xz">akonadi-contacts-19.03.80</a></td>
   <td align="right">381kB</td>
   <td><tt>1e5c5a0a34c108e520e8fb2127fcea51c52373a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/akonadi-import-wizard-19.03.80.tar.xz">akonadi-import-wizard-19.03.80</a></td>
   <td align="right">428kB</td>
   <td><tt>ce5a1a15b351dceb4535dca23a7c4618fa986d8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/akonadi-mime-19.03.80.tar.xz">akonadi-mime-19.03.80</a></td>
   <td align="right">133kB</td>
   <td><tt>4f8148a12feca8cc90d951969a34cf5fffe652e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/akonadi-notes-19.03.80.tar.xz">akonadi-notes-19.03.80</a></td>
   <td align="right">23kB</td>
   <td><tt>7628da2f3d67df9f9edb61ef63c57c3edf0c9ae0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/akonadi-search-19.03.80.tar.xz">akonadi-search-19.03.80</a></td>
   <td align="right">80kB</td>
   <td><tt>fd3462aaf82deb9fbe40315516f5617a87ba6147</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/akregator-19.03.80.tar.xz">akregator-19.03.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>53a2b6be8ec2466e8182aa94747d19edf729ffb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/analitza-19.03.80.tar.xz">analitza-19.03.80</a></td>
   <td align="right">324kB</td>
   <td><tt>2f5667c5168adf7534e71b4db54631c842bfb0ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/ark-19.03.80.tar.xz">ark-19.03.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>b4fe73d6468e1cddd60a24e83ad236d5c437ca5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/artikulate-19.03.80.tar.xz">artikulate-19.03.80</a></td>
   <td align="right">3.8MB</td>
   <td><tt>864acf82ca34c3eb1cd64ea9a7965842d6ea1105</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/audiocd-kio-19.03.80.tar.xz">audiocd-kio-19.03.80</a></td>
   <td align="right">344kB</td>
   <td><tt>25113b9bfb2f2fd4496c82827860e23485f43a24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/baloo-widgets-19.03.80.tar.xz">baloo-widgets-19.03.80</a></td>
   <td align="right">242kB</td>
   <td><tt>e0ef6948b814f97fdf0881cdc2460e42086f7eda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/blinken-19.03.80.tar.xz">blinken-19.03.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>61dae2de14e7797320e3b7f5c62be545bb4059c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/bomber-19.03.80.tar.xz">bomber-19.03.80</a></td>
   <td align="right">800kB</td>
   <td><tt>ae88741974d9d86d7ed6bdbdda73babc1f9f4b6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/bovo-19.03.80.tar.xz">bovo-19.03.80</a></td>
   <td align="right">194kB</td>
   <td><tt>d09c85db6005b6dbec3b3584675928ab0f866c31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/calendarsupport-19.03.80.tar.xz">calendarsupport-19.03.80</a></td>
   <td align="right">631kB</td>
   <td><tt>8f7593776d644e41caa607e68cb88c9a117ea04b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/cantor-19.03.80.tar.xz">cantor-19.03.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>5c4b2e0781b24848ae4ddd38d2d650b0d4f3d492</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/cervisia-19.03.80.tar.xz">cervisia-19.03.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>a425ff11051c0a4c94db9a0904b00072b9008706</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/dolphin-19.03.80.tar.xz">dolphin-19.03.80</a></td>
   <td align="right">4.6MB</td>
   <td><tt>650209f3277368111bdde916789b03d980b9b87d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/dolphin-plugins-19.03.80.tar.xz">dolphin-plugins-19.03.80</a></td>
   <td align="right">187kB</td>
   <td><tt>5db2ec07b5fefe667f541bec9f017a4a68c0ffa8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/dragon-19.03.80.tar.xz">dragon-19.03.80</a></td>
   <td align="right">1.2MB</td>
   <td><tt>cf20e869723477bc0ed15b4a947aa48b0e642f56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/eventviews-19.03.80.tar.xz">eventviews-19.03.80</a></td>
   <td align="right">432kB</td>
   <td><tt>9a160892d250fea8bff0ccd76469f41e0250569b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/ffmpegthumbs-19.03.80.tar.xz">ffmpegthumbs-19.03.80</a></td>
   <td align="right">23kB</td>
   <td><tt>9d8b3529c660f2e507531df31d2a30a7a410e3e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/filelight-19.03.80.tar.xz">filelight-19.03.80</a></td>
   <td align="right">645kB</td>
   <td><tt>57b3e96d3637af6b05877e39d85fb0e4fcf5b4bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/granatier-19.03.80.tar.xz">granatier-19.03.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>b1d53142f26de49179cc7c877c34c4c7aae9b0cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/grantlee-editor-19.03.80.tar.xz">grantlee-editor-19.03.80</a></td>
   <td align="right">108kB</td>
   <td><tt>fd2c64bf7fb6c38d7e5a33728e5646546cbe73c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/grantleetheme-19.03.80.tar.xz">grantleetheme-19.03.80</a></td>
   <td align="right">50kB</td>
   <td><tt>10f6f8ea1dede217ea57679102d71582aca3664b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/gwenview-19.03.80.tar.xz">gwenview-19.03.80</a></td>
   <td align="right">5.4MB</td>
   <td><tt>6e9934e7bdc4bc1f0b1574acd52c86be9690f4a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/incidenceeditor-19.03.80.tar.xz">incidenceeditor-19.03.80</a></td>
   <td align="right">536kB</td>
   <td><tt>53041f1bdab5709e675eaa883bd097ab998387f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/juk-19.03.80.tar.xz">juk-19.03.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>c98931c5dbd5049f3b15601303e71870f9b2cc57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/k3b-19.03.80.tar.xz">k3b-19.03.80</a></td>
   <td align="right">10MB</td>
   <td><tt>06ecb5e339e9e074a9d2760551225b26cc7afae8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kaccounts-integration-19.03.80.tar.xz">kaccounts-integration-19.03.80</a></td>
   <td align="right">69kB</td>
   <td><tt>f6908cc2fa03b7471dad3b736a8ad9279fce7fae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kaccounts-providers-19.03.80.tar.xz">kaccounts-providers-19.03.80</a></td>
   <td align="right">30kB</td>
   <td><tt>a90d7583a6758d11c7eeef136bae5661d7edd69a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kaddressbook-19.03.80.tar.xz">kaddressbook-19.03.80</a></td>
   <td align="right">461kB</td>
   <td><tt>cef23063523619a99d2aebe789b149dcf7862c0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kajongg-19.03.80.tar.xz">kajongg-19.03.80</a></td>
   <td align="right">4.2MB</td>
   <td><tt>f67aa5778e274fbc505dd46218dddcd8efd74a87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kalarm-19.03.80.tar.xz">kalarm-19.03.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>19e54dadc57f6225246262331731857f86d1b8c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kalarmcal-19.03.80.tar.xz">kalarmcal-19.03.80</a></td>
   <td align="right">559kB</td>
   <td><tt>ff5a0bdaa6afd477fe873e2788e62101711faad1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kalgebra-19.03.80.tar.xz">kalgebra-19.03.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>607126be88ee97627bfadcc92aad87531fd7c660</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kalzium-19.03.80.tar.xz">kalzium-19.03.80</a></td>
   <td align="right">25MB</td>
   <td><tt>4667323e2dc4912517274baac4ece01b18b0c3a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kamera-19.03.80.tar.xz">kamera-19.03.80</a></td>
   <td align="right">96kB</td>
   <td><tt>93bd0368ab4774188024b0c3890386fd08add338</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kamoso-19.03.80.tar.xz">kamoso-19.03.80</a></td>
   <td align="right">195kB</td>
   <td><tt>badbcf1d3ae84393e24916fcc379768769d9f652</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kanagram-19.03.80.tar.xz">kanagram-19.03.80</a></td>
   <td align="right">7.6MB</td>
   <td><tt>e00783d766cdb1046959d783498c5baf3028998a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kapman-19.03.80.tar.xz">kapman-19.03.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>b94135e4050c3ad093910a5c32ee63e210601f81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kapptemplate-19.03.80.tar.xz">kapptemplate-19.03.80</a></td>
   <td align="right">310kB</td>
   <td><tt>7297a4a66286c4a895f472411bfe32656cd9d63a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kate-19.03.80.tar.xz">kate-19.03.80</a></td>
   <td align="right">5.5MB</td>
   <td><tt>e221359f1789dedf094ee4bfb042f56bffea4ca6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/katomic-19.03.80.tar.xz">katomic-19.03.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>4baf77492babf41037ac54de456ff5fe5a2fbc2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kbackup-19.03.80.tar.xz">kbackup-19.03.80</a></td>
   <td align="right">346kB</td>
   <td><tt>d25910fd6ad79cfc575aff48e664aed3541f2558</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kblackbox-19.03.80.tar.xz">kblackbox-19.03.80</a></td>
   <td align="right">433kB</td>
   <td><tt>490925091434b52c66a0bc0da5ca983236e0c91a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kblocks-19.03.80.tar.xz">kblocks-19.03.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>f49b96dda3aee623247dd8738257a18bf1899cc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kblog-19.03.80.tar.xz">kblog-19.03.80</a></td>
   <td align="right">71kB</td>
   <td><tt>c1299a6366c7d72d2eb166d1761b9ca0cb79736b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kbounce-19.03.80.tar.xz">kbounce-19.03.80</a></td>
   <td align="right">3.3MB</td>
   <td><tt>9d07b147583619b5c001ae8a686c9465a42df066</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kbreakout-19.03.80.tar.xz">kbreakout-19.03.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>ebda77968e620bd384f18de9523f0d83630e4c80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kbruch-19.03.80.tar.xz">kbruch-19.03.80</a></td>
   <td align="right">5.3MB</td>
   <td><tt>3dad9a615fc005cb358968524130162250ba3564</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kcachegrind-19.03.80.tar.xz">kcachegrind-19.03.80</a></td>
   <td align="right">789kB</td>
   <td><tt>a9d3482124e62f934a3208b51ab3a1d97eb60b19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kcalc-19.03.80.tar.xz">kcalc-19.03.80</a></td>
   <td align="right">357kB</td>
   <td><tt>1e430bf946a4285cb6fab2562fc6274d1c259a94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kcalcore-19.03.80.tar.xz">kcalcore-19.03.80</a></td>
   <td align="right">247kB</td>
   <td><tt>7bfee1c214eb3e18181f7c8667ac41df7338bc78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kcalutils-19.03.80.tar.xz">kcalutils-19.03.80</a></td>
   <td align="right">321kB</td>
   <td><tt>3a12760e547f83dd5f573ac698384bc849e3ef38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kcharselect-19.03.80.tar.xz">kcharselect-19.03.80</a></td>
   <td align="right">326kB</td>
   <td><tt>810aedbec5c83d0e9ef24ad3c23d2554387ad08a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kcolorchooser-19.03.80.tar.xz">kcolorchooser-19.03.80</a></td>
   <td align="right">16kB</td>
   <td><tt>dda8911b08828972b36084ab8befd9f292321d24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kcontacts-19.03.80.tar.xz">kcontacts-19.03.80</a></td>
   <td align="right">589kB</td>
   <td><tt>f196b82450beef890e3435264c6bea6aaee90cc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kcron-19.03.80.tar.xz">kcron-19.03.80</a></td>
   <td align="right">905kB</td>
   <td><tt>4a180c291543a49fc38f46a8e4135224659791db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kdav-19.03.80.tar.xz">kdav-19.03.80</a></td>
   <td align="right">48kB</td>
   <td><tt>588e3362b5dd139864847cc174b72b4175294336</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kdebugsettings-19.03.80.tar.xz">kdebugsettings-19.03.80</a></td>
   <td align="right">54kB</td>
   <td><tt>e0987618bb5d59f1c9a4445d9b66257d4b4b6241</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kde-dev-scripts-19.03.80.tar.xz">kde-dev-scripts-19.03.80</a></td>
   <td align="right">369kB</td>
   <td><tt>e701d27a8036f862c17b994e5ba2ef4a9b33b698</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kde-dev-utils-19.03.80.tar.xz">kde-dev-utils-19.03.80</a></td>
   <td align="right">60kB</td>
   <td><tt>bbc79d2b3041d4090c68cc9ad68998c64cd9a224</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kdeedu-data-19.03.80.tar.xz">kdeedu-data-19.03.80</a></td>
   <td align="right">319kB</td>
   <td><tt>a87d5cdc29ab9649310547b393f76be1687e6eeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kdegraphics-mobipocket-19.03.80.tar.xz">kdegraphics-mobipocket-19.03.80</a></td>
   <td align="right">13kB</td>
   <td><tt>82fdef7c49a1ff952bddaac4a02c40ef176a06aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kdegraphics-thumbnailers-19.03.80.tar.xz">kdegraphics-thumbnailers-19.03.80</a></td>
   <td align="right">42kB</td>
   <td><tt>ccdf25910801388ae0ef4ac99c8fc72bb004b399</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kdenetwork-filesharing-19.03.80.tar.xz">kdenetwork-filesharing-19.03.80</a></td>
   <td align="right">305kB</td>
   <td><tt>c00d5d15519a20917fb07990edd55ab2c8ba8e0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kdenlive-19.03.80.tar.xz">kdenlive-19.03.80</a></td>
   <td align="right">9.9MB</td>
   <td><tt>4d8bb9a8377541fa145031b925939799b90282c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kdepim-addons-19.03.80.tar.xz">kdepim-addons-19.03.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>114f44a3a50e442cf4f3d2c9ccfb62455d5cc1df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kdepim-apps-libs-19.03.80.tar.xz">kdepim-apps-libs-19.03.80</a></td>
   <td align="right">83kB</td>
   <td><tt>4fc44726977b30e7dc09d5383fc92238d8c53bfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kdepim-runtime-19.03.80.tar.xz">kdepim-runtime-19.03.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>172ce6536a6c37e0482593d5825c3bdca9b5b5bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kdesdk-kioslaves-19.03.80.tar.xz">kdesdk-kioslaves-19.03.80</a></td>
   <td align="right">36kB</td>
   <td><tt>d987e017f7b22199eb88751746caad210d6b4b1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kdesdk-thumbnailers-19.03.80.tar.xz">kdesdk-thumbnailers-19.03.80</a></td>
   <td align="right">16kB</td>
   <td><tt>5be5932ec40879da3083b2288b6d963cb30edabd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kdf-19.03.80.tar.xz">kdf-19.03.80</a></td>
   <td align="right">528kB</td>
   <td><tt>49c596f37284db550325f511c47f2d8d1bdaa666</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kdialog-19.03.80.tar.xz">kdialog-19.03.80</a></td>
   <td align="right">96kB</td>
   <td><tt>3f0c29f0d97213f5908330c50d6c8547160bafd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kdiamond-19.03.80.tar.xz">kdiamond-19.03.80</a></td>
   <td align="right">4.5MB</td>
   <td><tt>8e80e40a69a0609c42a1b347c359890cf9f76e21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/keditbookmarks-19.03.80.tar.xz">keditbookmarks-19.03.80</a></td>
   <td align="right">180kB</td>
   <td><tt>a1780e38b6c45acf35a56dcb8069b2adcfb0c753</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kfind-19.03.80.tar.xz">kfind-19.03.80</a></td>
   <td align="right">261kB</td>
   <td><tt>d53b0fe0af31e0ee29ceb948a1cfc24beab8d0b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kfloppy-19.03.80.tar.xz">kfloppy-19.03.80</a></td>
   <td align="right">194kB</td>
   <td><tt>5b755f5251effa5cf1811ee71f77bf5425907124</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kfourinline-19.03.80.tar.xz">kfourinline-19.03.80</a></td>
   <td align="right">621kB</td>
   <td><tt>40df0dad42d8d198bcee513521400340879ce16c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kgeography-19.03.80.tar.xz">kgeography-19.03.80</a></td>
   <td align="right">10MB</td>
   <td><tt>6d22d09494a27cbee488bc1223b200b2bd5e927a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kget-19.03.80.tar.xz">kget-19.03.80</a></td>
   <td align="right">4.9MB</td>
   <td><tt>33d9952228a2753fe300e2bc26ccab3a9b1ec4ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kgoldrunner-19.03.80.tar.xz">kgoldrunner-19.03.80</a></td>
   <td align="right">4.2MB</td>
   <td><tt>7017453524f504c6f4378e66029d395a12799c1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kgpg-19.03.80.tar.xz">kgpg-19.03.80</a></td>
   <td align="right">2.7MB</td>
   <td><tt>8874933788d1ba14ffba87142596377eaf1e2158</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/khangman-19.03.80.tar.xz">khangman-19.03.80</a></td>
   <td align="right">6.7MB</td>
   <td><tt>d2128aebe8b0e4082966ae2110bf7e0295edc4e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/khelpcenter-19.03.80.tar.xz">khelpcenter-19.03.80</a></td>
   <td align="right">3.6MB</td>
   <td><tt>b7d53c888d20832051f2cdcd33bef007c42572c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kidentitymanagement-19.03.80.tar.xz">kidentitymanagement-19.03.80</a></td>
   <td align="right">145kB</td>
   <td><tt>b4b3d8c3db7758a72f085ac98cd5923b4fdf7c1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kig-19.03.80.tar.xz">kig-19.03.80</a></td>
   <td align="right">3.3MB</td>
   <td><tt>cf9e3ad1f164d3e76439bb45ade0df9389617d1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kigo-19.03.80.tar.xz">kigo-19.03.80</a></td>
   <td align="right">4.9MB</td>
   <td><tt>f1b7d18e94154a31061997f7236b77e048b44803</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/killbots-19.03.80.tar.xz">killbots-19.03.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>aa3edbe5f0cdd72259cbf631615a15333aed6e31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kimagemapeditor-19.03.80.tar.xz">kimagemapeditor-19.03.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>adbb32f99eb59e7c597fdfdf302d3b0febc83954</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kimap-19.03.80.tar.xz">kimap-19.03.80</a></td>
   <td align="right">116kB</td>
   <td><tt>a45a286703006ac17babbd1227eb646c1855559a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kio-extras-19.03.80.tar.xz">kio-extras-19.03.80</a></td>
   <td align="right">556kB</td>
   <td><tt>0d2e49ac7b76c3f1c2650551898b14b5f38fb3ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kirigami-gallery-19.03.80.tar.xz">kirigami-gallery-19.03.80</a></td>
   <td align="right">263kB</td>
   <td><tt>4e411a97705ca99df5d17f7874934b0516823ace</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kiriki-19.03.80.tar.xz">kiriki-19.03.80</a></td>
   <td align="right">363kB</td>
   <td><tt>58e165fc09c49910cb70e125cd94e5632e1862b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kiten-19.03.80.tar.xz">kiten-19.03.80</a></td>
   <td align="right">10MB</td>
   <td><tt>be011c1bd5aaa6c39f012a698bf9f997a7f9c4dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kitinerary-19.03.80.tar.xz">kitinerary-19.03.80</a></td>
   <td align="right">672kB</td>
   <td><tt>207db7dd31afae7394e7d8a56443b403bb9005f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kjumpingcube-19.03.80.tar.xz">kjumpingcube-19.03.80</a></td>
   <td align="right">280kB</td>
   <td><tt>0085b4bf4bf47a3ef540816f1bfa9073cc71e9b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kldap-19.03.80.tar.xz">kldap-19.03.80</a></td>
   <td align="right">151kB</td>
   <td><tt>98e86a955d46065ce6513d17c05cf5ca442fbab1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kleopatra-19.03.80.tar.xz">kleopatra-19.03.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>4759c03a6f258b091344e2b0cd7bb979507ed75f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/klettres-19.03.80.tar.xz">klettres-19.03.80</a></td>
   <td align="right">20MB</td>
   <td><tt>70e83a206d5895dd2d1489785ef7858611aef835</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/klickety-19.03.80.tar.xz">klickety-19.03.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>06d02c07d61db5305f5c197643937e71e4925ce7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/klines-19.03.80.tar.xz">klines-19.03.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>8b29a15e0309eb8ea4a81636dc19dd8833d1496f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kmag-19.03.80.tar.xz">kmag-19.03.80</a></td>
   <td align="right">722kB</td>
   <td><tt>224d8286257687821c787acb625fc73f2f5db1ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kmahjongg-19.03.80.tar.xz">kmahjongg-19.03.80</a></td>
   <td align="right">3.8MB</td>
   <td><tt>92bbdf31cfa6799ab7f8df3f2323accf2f476676</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kmail-19.03.80.tar.xz">kmail-19.03.80</a></td>
   <td align="right">4.5MB</td>
   <td><tt>9af201f371f630761a400ed6a0aa2cebf7c1603d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kmail-account-wizard-19.03.80.tar.xz">kmail-account-wizard-19.03.80</a></td>
   <td align="right">152kB</td>
   <td><tt>ed762a62011cc5b00e37d85f1906d1b1f26a4ae5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kmailtransport-19.03.80.tar.xz">kmailtransport-19.03.80</a></td>
   <td align="right">162kB</td>
   <td><tt>9708a7fb858789f7003f59ff5c504c71cabacc1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kmbox-19.03.80.tar.xz">kmbox-19.03.80</a></td>
   <td align="right">24kB</td>
   <td><tt>bbc159efdc284a54efbbebe7b5477620cb6fe209</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kmime-19.03.80.tar.xz">kmime-19.03.80</a></td>
   <td align="right">143kB</td>
   <td><tt>4a6c8b33cd1c92d97b66fbaa55aeaa232381aa3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kmines-19.03.80.tar.xz">kmines-19.03.80</a></td>
   <td align="right">882kB</td>
   <td><tt>f16aa19d2f77a0b5404991a1df05d4b506f4a0ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kmix-19.03.80.tar.xz">kmix-19.03.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>ec854bde3c03ffbbd915481164f67fc7ac704807</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kmousetool-19.03.80.tar.xz">kmousetool-19.03.80</a></td>
   <td align="right">110kB</td>
   <td><tt>03803e3e97d0df5108b61445a77c219beaa1eeca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kmouth-19.03.80.tar.xz">kmouth-19.03.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>c095421e0fa87f750325c0936cd7832ed14749bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kmplot-19.03.80.tar.xz">kmplot-19.03.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>e9221079c19689ca5167ecbc91bdf81192eeeb13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/knavalbattle-19.03.80.tar.xz">knavalbattle-19.03.80</a></td>
   <td align="right">1.2MB</td>
   <td><tt>d3b4895f28e4903ab6461aa6d60aaa5e450d9c1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/knetwalk-19.03.80.tar.xz">knetwalk-19.03.80</a></td>
   <td align="right">1013kB</td>
   <td><tt>623d2e7a971887aa0d3df56894d5beee5ae2ee43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/knights-19.03.80.tar.xz">knights-19.03.80</a></td>
   <td align="right">3.3MB</td>
   <td><tt>9719840c46ba5359f8bfdd85734b47bbbd7f8f5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/knotes-19.03.80.tar.xz">knotes-19.03.80</a></td>
   <td align="right">312kB</td>
   <td><tt>6f04e0c4d3186af13396b39d58db8ed3a25e8ad8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kolf-19.03.80.tar.xz">kolf-19.03.80</a></td>
   <td align="right">999kB</td>
   <td><tt>e712daf601bc539c1d01820ef6d1d4ffc4a95944</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kollision-19.03.80.tar.xz">kollision-19.03.80</a></td>
   <td align="right">274kB</td>
   <td><tt>f8c2abc12e2f80155490918a73393df5ff0af782</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kolourpaint-19.03.80.tar.xz">kolourpaint-19.03.80</a></td>
   <td align="right">5.3MB</td>
   <td><tt>e0904d3c0b490e4cc71b973d32fe619d2959ae61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kompare-19.03.80.tar.xz">kompare-19.03.80</a></td>
   <td align="right">783kB</td>
   <td><tt>9562d87401a5aa9802e54ee1dc5cc894a2f7e3a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/konqueror-19.03.80.tar.xz">konqueror-19.03.80</a></td>
   <td align="right">7.3MB</td>
   <td><tt>30bd406316bf00fb613dd5e66c288ddd2b8195ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/konquest-19.03.80.tar.xz">konquest-19.03.80</a></td>
   <td align="right">643kB</td>
   <td><tt>145f33b0d7b2f95df24efcc5565dd7b68e3ecf66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/konsole-19.03.80.tar.xz">konsole-19.03.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>6a90f1c19c6fc84d12762ef1ea9c5964b4a173af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kontact-19.03.80.tar.xz">kontact-19.03.80</a></td>
   <td align="right">774kB</td>
   <td><tt>45d3d466c6d6f0437edb2895735904e5e8af258e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kontactinterface-19.03.80.tar.xz">kontactinterface-19.03.80</a></td>
   <td align="right">32kB</td>
   <td><tt>7b1cafe19d52f7c1ff7d0749b9d156f610f8d37a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kopete-19.03.80.tar.xz">kopete-19.03.80</a></td>
   <td align="right">8.9MB</td>
   <td><tt>b5d03e1d1c3e99a50a568f17d0d039f3ccb386cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/korganizer-19.03.80.tar.xz">korganizer-19.03.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>8030e6c86c9ba119721c97cd521f52ae5395838c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kpat-19.03.80.tar.xz">kpat-19.03.80</a></td>
   <td align="right">3.4MB</td>
   <td><tt>ef22e0cde784366c5c6ebfcfdc1ee87210412a40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kpimtextedit-19.03.80.tar.xz">kpimtextedit-19.03.80</a></td>
   <td align="right">144kB</td>
   <td><tt>22544e5c1dce54a6ebff2e9b4ea443daf97f8a7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kpkpass-19.03.80.tar.xz">kpkpass-19.03.80</a></td>
   <td align="right">22kB</td>
   <td><tt>d5674cc4682c3149647401a0c9a9c57a0a868175</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kqtquickcharts-19.03.80.tar.xz">kqtquickcharts-19.03.80</a></td>
   <td align="right">25kB</td>
   <td><tt>61acb2f64695035ed0e8d63d7469c2567ac1b94f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/krdc-19.03.80.tar.xz">krdc-19.03.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>0feb55b903c517e71e937c170beb452c2132c316</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kreversi-19.03.80.tar.xz">kreversi-19.03.80</a></td>
   <td align="right">921kB</td>
   <td><tt>6c06649ccf27e83242040de5726f00be93f10bd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/krfb-19.03.80.tar.xz">krfb-19.03.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>4d4107620b44ac2443beb2d4937cf1304357e163</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kross-interpreters-19.03.80.tar.xz">kross-interpreters-19.03.80</a></td>
   <td align="right">146kB</td>
   <td><tt>dca3cfbd355a863f1f5a6374e0bacff3acbe4560</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kruler-19.03.80.tar.xz">kruler-19.03.80</a></td>
   <td align="right">243kB</td>
   <td><tt>9360279c714ae7090fd16283dec8624ee1bda623</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kshisen-19.03.80.tar.xz">kshisen-19.03.80</a></td>
   <td align="right">801kB</td>
   <td><tt>c704da1782e9e353cc9fa5a12147a6f3ca19953c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/ksirk-19.03.80.tar.xz">ksirk-19.03.80</a></td>
   <td align="right">6.6MB</td>
   <td><tt>17b1f817a83e59968e0a0ced6e26c423de2ebdce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/ksmtp-19.03.80.tar.xz">ksmtp-19.03.80</a></td>
   <td align="right">39kB</td>
   <td><tt>12138db3860d91f47d7aa74595b117bf87184d6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/ksnakeduel-19.03.80.tar.xz">ksnakeduel-19.03.80</a></td>
   <td align="right">590kB</td>
   <td><tt>505267ba13abae3a67fb92c55dbef9dbe0b005fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kspaceduel-19.03.80.tar.xz">kspaceduel-19.03.80</a></td>
   <td align="right">596kB</td>
   <td><tt>4293c91cef4b57ef746892f369c63739963d4faa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/ksquares-19.03.80.tar.xz">ksquares-19.03.80</a></td>
   <td align="right">253kB</td>
   <td><tt>0fd01f546ecd7dd558c40d1294d0ced54dd8467b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/ksudoku-19.03.80.tar.xz">ksudoku-19.03.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>2c232f5f79dfde4497c908a73d8b7e5630adf9e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/ksystemlog-19.03.80.tar.xz">ksystemlog-19.03.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>84e2597426db5e684120b4c565423487331c8f81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kteatime-19.03.80.tar.xz">kteatime-19.03.80</a></td>
   <td align="right">291kB</td>
   <td><tt>917a50839eb7fe75c741f3562f141435ef878428</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/ktimer-19.03.80.tar.xz">ktimer-19.03.80</a></td>
   <td align="right">368kB</td>
   <td><tt>caa0709ac9cd0930395763a305c114a22333a615</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/ktnef-19.03.80.tar.xz">ktnef-19.03.80</a></td>
   <td align="right">292kB</td>
   <td><tt>ab26739e7c726faf3ea43a6f807e4f907ab48641</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/ktouch-19.03.80.tar.xz">ktouch-19.03.80</a></td>
   <td align="right">4.9MB</td>
   <td><tt>b095a58df02fb3de5e758fd4ff7de48d5bf2cbc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/ktp-accounts-kcm-19.03.80.tar.xz">ktp-accounts-kcm-19.03.80</a></td>
   <td align="right">255kB</td>
   <td><tt>c2af8e18c08d0c8ed3e2c14f572fb5528660f23f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/ktp-approver-19.03.80.tar.xz">ktp-approver-19.03.80</a></td>
   <td align="right">36kB</td>
   <td><tt>1326eb36c24ab2cd16d6d6b6c88620777d9f9aa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/ktp-auth-handler-19.03.80.tar.xz">ktp-auth-handler-19.03.80</a></td>
   <td align="right">44kB</td>
   <td><tt>b063476d4d5fd9639790853d7b64fff11e2229c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/ktp-call-ui-19.03.80.tar.xz">ktp-call-ui-19.03.80</a></td>
   <td align="right">94kB</td>
   <td><tt>a9617a2e0788ba195e059b1fbda58613cf181e1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/ktp-common-internals-19.03.80.tar.xz">ktp-common-internals-19.03.80</a></td>
   <td align="right">431kB</td>
   <td><tt>db438a47c72841b1f9f1efc4ecc001d198f2d6eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/ktp-contact-list-19.03.80.tar.xz">ktp-contact-list-19.03.80</a></td>
   <td align="right">142kB</td>
   <td><tt>d5d5b7537dfe6b83d290758b2c2c3edb898b9321</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/ktp-contact-runner-19.03.80.tar.xz">ktp-contact-runner-19.03.80</a></td>
   <td align="right">41kB</td>
   <td><tt>b2e3a4c53a51c4bc470c079acea08b755a4d26fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/ktp-desktop-applets-19.03.80.tar.xz">ktp-desktop-applets-19.03.80</a></td>
   <td align="right">41kB</td>
   <td><tt>28a1712d2c659399ca4004ce3c2b7452b452fd3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/ktp-filetransfer-handler-19.03.80.tar.xz">ktp-filetransfer-handler-19.03.80</a></td>
   <td align="right">44kB</td>
   <td><tt>7cf7706da10a6367e879b954bdb1a3f0ca2520ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/ktp-kded-module-19.03.80.tar.xz">ktp-kded-module-19.03.80</a></td>
   <td align="right">92kB</td>
   <td><tt>212be91d20ebc63a276d9fb85b4f4b09f2486574</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/ktp-send-file-19.03.80.tar.xz">ktp-send-file-19.03.80</a></td>
   <td align="right">27kB</td>
   <td><tt>b291ea234cb3d782b854557d981f036999668d75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/ktp-text-ui-19.03.80.tar.xz">ktp-text-ui-19.03.80</a></td>
   <td align="right">455kB</td>
   <td><tt>d3842143b8f93c56a369a62e1753a81fd7f9fbad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/ktuberling-19.03.80.tar.xz">ktuberling-19.03.80</a></td>
   <td align="right">31MB</td>
   <td><tt>91a7b0f8c811baafec6b6801d069cbb932b14ddb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kturtle-19.03.80.tar.xz">kturtle-19.03.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>ef1a5a939b50969ed1a50132a4b0e781018a3be8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kubrick-19.03.80.tar.xz">kubrick-19.03.80</a></td>
   <td align="right">304kB</td>
   <td><tt>668ebde024ac020df681bb9220626e10cd5835dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kwalletmanager-19.03.80.tar.xz">kwalletmanager-19.03.80</a></td>
   <td align="right">767kB</td>
   <td><tt>04c87a73e884478f200dddb12d8a3d420d103a08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kwave-19.03.80.tar.xz">kwave-19.03.80</a></td>
   <td align="right">5.9MB</td>
   <td><tt>adeb14fb7d24dfc5b0b69af2d57b54733f5fbc97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/kwordquiz-19.03.80.tar.xz">kwordquiz-19.03.80</a></td>
   <td align="right">3.9MB</td>
   <td><tt>08e10539bdfc09dc3a0a089581ff2ed468386af1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/libgravatar-19.03.80.tar.xz">libgravatar-19.03.80</a></td>
   <td align="right">30kB</td>
   <td><tt>7399c89339159c067175df6cc78b12139d27c32f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/libkcddb-19.03.80.tar.xz">libkcddb-19.03.80</a></td>
   <td align="right">416kB</td>
   <td><tt>dd0bd567f83060356b55c6db5b4af6c0f94d62dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/libkcompactdisc-19.03.80.tar.xz">libkcompactdisc-19.03.80</a></td>
   <td align="right">86kB</td>
   <td><tt>1601554f3948b50bb597f519335f5bb285e7d4a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/libkdcraw-19.03.80.tar.xz">libkdcraw-19.03.80</a></td>
   <td align="right">41kB</td>
   <td><tt>df125ff1cd284ed7ce7a8cb7a7b93a0115734f5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/libkdegames-19.03.80.tar.xz">libkdegames-19.03.80</a></td>
   <td align="right">6.0MB</td>
   <td><tt>009439f5189f7d683a2c255ef1ae560b4cad1c5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/libkdepim-19.03.80.tar.xz">libkdepim-19.03.80</a></td>
   <td align="right">329kB</td>
   <td><tt>7d972f75d76535f32d4df1b49618001888d3f82c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/libkeduvocdocument-19.03.80.tar.xz">libkeduvocdocument-19.03.80</a></td>
   <td align="right">202kB</td>
   <td><tt>9abf3bea21bc3bcf14f5dd1e144f476a30d99dd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/libkexiv2-19.03.80.tar.xz">libkexiv2-19.03.80</a></td>
   <td align="right">62kB</td>
   <td><tt>c8da7ecf97e928378df9c6a69822a7c1f12ab8c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/libkgapi-19.03.80.tar.xz">libkgapi-19.03.80</a></td>
   <td align="right">219kB</td>
   <td><tt>75af1f08cf9824c4de0605bd92feace8ea0bf23d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/libkgeomap-19.03.80.tar.xz">libkgeomap-19.03.80</a></td>
   <td align="right">147kB</td>
   <td><tt>4701515042158b298bed5e529f4bfd426bf81568</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/libkipi-19.03.80.tar.xz">libkipi-19.03.80</a></td>
   <td align="right">100kB</td>
   <td><tt>4c943f058353b5b322b6eab07052e03ad118bcb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/libkleo-19.03.80.tar.xz">libkleo-19.03.80</a></td>
   <td align="right">325kB</td>
   <td><tt>2c2061a5641f8c625bdbb3a9c2ac2667d4fb7258</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/libkmahjongg-19.03.80.tar.xz">libkmahjongg-19.03.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>ec408c1f6b046bceb43db9956a144cac2754885c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/libkomparediff2-19.03.80.tar.xz">libkomparediff2-19.03.80</a></td>
   <td align="right">169kB</td>
   <td><tt>4cc630bb081974832f87db36d6633052b92d09ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/libksane-19.03.80.tar.xz">libksane-19.03.80</a></td>
   <td align="right">134kB</td>
   <td><tt>3d0b3f3c370ef52c3d7b3f8d9980537a74f1d007</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/libksieve-19.03.80.tar.xz">libksieve-19.03.80</a></td>
   <td align="right">537kB</td>
   <td><tt>50b8fb5dd19efca986e110d4e8dba07d074d1c95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/lokalize-19.03.80.tar.xz">lokalize-19.03.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>00adba184b89e43866a9e03b458cb919da82d42e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/lskat-19.03.80.tar.xz">lskat-19.03.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>21956eb0c2ce6ad9252252fd927edc35ab2f7be8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/mailcommon-19.03.80.tar.xz">mailcommon-19.03.80</a></td>
   <td align="right">676kB</td>
   <td><tt>484a209ee160edc978786dc0f943b82e55d91b1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/mailimporter-19.03.80.tar.xz">mailimporter-19.03.80</a></td>
   <td align="right">527kB</td>
   <td><tt>a7cc05cb6c88875ca4b23d48323fd1a9c2712051</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/marble-19.03.80.tar.xz">marble-19.03.80</a></td>
   <td align="right">49MB</td>
   <td><tt>09a833dd02dfbddf9f6ff9b40bdae7de5600e868</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/mbox-importer-19.03.80.tar.xz">mbox-importer-19.03.80</a></td>
   <td align="right">32kB</td>
   <td><tt>8d19c0b80b6e2e7fe0668f5ebf39a2d1d5646051</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/messagelib-19.03.80.tar.xz">messagelib-19.03.80</a></td>
   <td align="right">9.9MB</td>
   <td><tt>18f140aa59e3f06b59488964ffad893d9df82234</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/minuet-19.03.80.tar.xz">minuet-19.03.80</a></td>
   <td align="right">26MB</td>
   <td><tt>085a39be629424f2d1ecf3ab2ef11e33d89a280c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/okular-19.03.80.tar.xz">okular-19.03.80</a></td>
   <td align="right">6.3MB</td>
   <td><tt>58f9eb20de4aaac971a2038915ec3e625dd06353</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/palapeli-19.03.80.tar.xz">palapeli-19.03.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>c45ac6d6df9c3b06cf582628a5e694c4fdfdabaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/parley-19.03.80.tar.xz">parley-19.03.80</a></td>
   <td align="right">8.4MB</td>
   <td><tt>96426bd983ec589f0a314468a7ac1660bad7f9b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/picmi-19.03.80.tar.xz">picmi-19.03.80</a></td>
   <td align="right">1.2MB</td>
   <td><tt>c8059e7dba58c3a4158d9c46aa01efa87e6b2497</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/pimcommon-19.03.80.tar.xz">pimcommon-19.03.80</a></td>
   <td align="right">288kB</td>
   <td><tt>4a95e0de55fa3ad0de3a773678c6fd47402cbe5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/pim-data-exporter-19.03.80.tar.xz">pim-data-exporter-19.03.80</a></td>
   <td align="right">264kB</td>
   <td><tt>fcce7f7469cb20851f8445e4437f8a9c42633884</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/pim-sieve-editor-19.03.80.tar.xz">pim-sieve-editor-19.03.80</a></td>
   <td align="right">440kB</td>
   <td><tt>7c43fc85209dbf07b37af503fa0050e52ef84a55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/poxml-19.03.80.tar.xz">poxml-19.03.80</a></td>
   <td align="right">42kB</td>
   <td><tt>d08f6a62d505fe0a27b1fb7c1481d769f37d260d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/print-manager-19.03.80.tar.xz">print-manager-19.03.80</a></td>
   <td align="right">234kB</td>
   <td><tt>530afa35fbd88c7fbab117b0bbabd31657319ee1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/rocs-19.03.80.tar.xz">rocs-19.03.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>95e895b59167100a836604daaf2449fdd42139dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/signon-kwallet-extension-19.03.80.tar.xz">signon-kwallet-extension-19.03.80</a></td>
   <td align="right">10kB</td>
   <td><tt>dfc78c4b5cb7632d4bef2a399080d9da074f8273</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/spectacle-19.03.80.tar.xz">spectacle-19.03.80</a></td>
   <td align="right">815kB</td>
   <td><tt>75d6357d0959c23df3c3c15e40d9565b920e2103</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/step-19.03.80.tar.xz">step-19.03.80</a></td>
   <td align="right">840kB</td>
   <td><tt>0697df20dc983b1f8e97bf8d463595956187afd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/svgpart-19.03.80.tar.xz">svgpart-19.03.80</a></td>
   <td align="right">20kB</td>
   <td><tt>9f5abc2c794f0a490f7f2b13078f31ab93168b90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/sweeper-19.03.80.tar.xz">sweeper-19.03.80</a></td>
   <td align="right">359kB</td>
   <td><tt>45b538ef98db9de9af94d894c60d502b28404815</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/umbrello-19.03.80.tar.xz">umbrello-19.03.80</a></td>
   <td align="right">3.5MB</td>
   <td><tt>6e1df4c52aeac9ee3c37a8df6820180d072dec56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.03.80/src/zeroconf-ioslave-19.03.80.tar.xz">zeroconf-ioslave-19.03.80</a></td>
   <td align="right">37kB</td>
   <td><tt>16e370ad320747c6fd81befe7bec09430bd53e6b</tt></td>
</tr>

</table>
