<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/bluedevil-5.22.0.tar.xz">bluedevil-5.22.0</a></td>
   <td align="right">159kB</td>
   <td><tt>cc775a3cb3c292966eeaa4b2ad936e74e1ba25867599e88e271952cdf450df3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/breeze-5.22.0.tar.xz">breeze-5.22.0</a></td>
   <td align="right">32MB</td>
   <td><tt>1b3d2d00bfbafe7cfb6f540809cd89447a52e00c6c435bb671c944af0f2f96ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/breeze-grub-5.22.0.tar.xz">breeze-grub-5.22.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>0210a278d402e12d3267a8e688dd70fce7aef3358eb6f3937de26aea8785edc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/breeze-gtk-5.22.0.tar.xz">breeze-gtk-5.22.0</a></td>
   <td align="right">46kB</td>
   <td><tt>2ce1f92d7cb3846f4b9ad6eb34fc1f7412f1b0e7cb75de38abed7c7e6a2a610f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/breeze-plymouth-5.22.0.tar.xz">breeze-plymouth-5.22.0</a></td>
   <td align="right">106kB</td>
   <td><tt>f1ee3b2c439f1674c37139fc7ffc94fda2035f9402a9230758feda0b93409da1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/discover-5.22.0.tar.xz">discover-5.22.0</a></td>
   <td align="right">8.0MB</td>
   <td><tt>a605d3f9d2f35c604da9a36654bf7c8828312c00b3610a25969101f27186a812</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/drkonqi-5.22.0.tar.xz">drkonqi-5.22.0</a></td>
   <td align="right">764kB</td>
   <td><tt>b3a2e5c27ce50a7aa8d0e2575eb1746fb0c8f0e84853377483a87d7a66012883</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/kactivitymanagerd-5.22.0.tar.xz">kactivitymanagerd-5.22.0</a></td>
   <td align="right">100kB</td>
   <td><tt>b8882b792086e94b7e1a1130417bdf4c0e08a7af84119812997318c62dfc2950</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/kde-cli-tools-5.22.0.tar.xz">kde-cli-tools-5.22.0</a></td>
   <td align="right">611kB</td>
   <td><tt>28becb598d8aa180c045b7299fd5a0454df1ab355ff570e2584e2faa17ba47e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/kdecoration-5.22.0.tar.xz">kdecoration-5.22.0</a></td>
   <td align="right">45kB</td>
   <td><tt>5e27326b22d899e742606f7bd3493651dc51cd92b5616e30cd4dab3e5356d5b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/kde-gtk-config-5.22.0.tar.xz">kde-gtk-config-5.22.0</a></td>
   <td align="right">69kB</td>
   <td><tt>1f50babdd3425fc0a2a241fc0af15cf72cc441c2decc5dfb0544e92c247fb17e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/kdeplasma-addons-5.22.0.tar.xz">kdeplasma-addons-5.22.0</a></td>
   <td align="right">618kB</td>
   <td><tt>42e399342b4f979ef1aa2e20542ce8308a49369b922aef8cc70b1667733583ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/kgamma5-5.22.0.tar.xz">kgamma5-5.22.0</a></td>
   <td align="right">80kB</td>
   <td><tt>396e7650914b7473fb453d5e8808b6cd4de697d027aade01d2ec2ee5c814932c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/khotkeys-5.22.0.tar.xz">khotkeys-5.22.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>689a9a605df33c595bf650bbaca9277c25b3defe6b5077cfe45280e931dd3699</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/kinfocenter-5.22.0.tar.xz">kinfocenter-5.22.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>1f853c864adab4b4e961d09f2321a861c830322c9f5425d80b8d1453f4559a22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/kmenuedit-5.22.0.tar.xz">kmenuedit-5.22.0</a></td>
   <td align="right">878kB</td>
   <td><tt>810efc35661b45c61f521fc878251ccc5b290bed1109451a50c58a89c72d9f3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/kscreen-5.22.0.tar.xz">kscreen-5.22.0</a></td>
   <td align="right">113kB</td>
   <td><tt>5f805e8d3b269fc1f7a9d2f582e49c9b173bd3eb0fd7393ff3b4d7980335519f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/kscreenlocker-5.22.0.tar.xz">kscreenlocker-5.22.0</a></td>
   <td align="right">113kB</td>
   <td><tt>9feacfa447b64bd039e6bb0e339d723927754f2c53161bfd915fe5b1b30fdc75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/ksshaskpass-5.22.0.tar.xz">ksshaskpass-5.22.0</a></td>
   <td align="right">23kB</td>
   <td><tt>61f856613833df7fb3285fb19e5db6ce6f832392369394058fcc6337db6bf497</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/ksystemstats-5.22.0.tar.xz">ksystemstats-5.22.0</a></td>
   <td align="right">83kB</td>
   <td><tt>e0722f1a464983e6b75f142f8804e4ba346645a75fcd5b5305824d2683ed9007</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/kwallet-pam-5.22.0.tar.xz">kwallet-pam-5.22.0</a></td>
   <td align="right">19kB</td>
   <td><tt>461c01bb2f1d534222839698e9b677a288c8deea00514f9d3a0df43d5614d655</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/kwayland-integration-5.22.0.tar.xz">kwayland-integration-5.22.0</a></td>
   <td align="right">22kB</td>
   <td><tt>2348533e520ab38e094d71ed07f35f33339af996a97088a2b8d3fb64ad516949</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/kwayland-server-5.22.0.tar.xz">kwayland-server-5.22.0</a></td>
   <td align="right">214kB</td>
   <td><tt>84617871c47f7e5060462728a82bfcdad14fd0bb2f1f8252bee077e28deb1694</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/kwin-5.22.0.tar.xz">kwin-5.22.0</a></td>
   <td align="right">6.1MB</td>
   <td><tt>56e6cfe23d445b1ee0650c5ac484e8cc63ba39e2f2d77a0d32c4c23905cc0e01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/kwrited-5.22.0.tar.xz">kwrited-5.22.0</a></td>
   <td align="right">19kB</td>
   <td><tt>069eeb75d8c8a23f4b8524f94d980129099a8fb076c3f09c086fca6046980319</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/layer-shell-qt-5.22.0.tar.xz">layer-shell-qt-5.22.0</a></td>
   <td align="right">17kB</td>
   <td><tt>7e08f39716885aa43a3f2f1bfb29441ef9ee4b07b2928a9680ae8e4c28adcaf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/libkscreen-5.22.0.tar.xz">libkscreen-5.22.0</a></td>
   <td align="right">93kB</td>
   <td><tt>0630ca1dff1dfc7ba74d508c3ff2cb82fd8642281890ded095dff97206299aeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/libksysguard-5.22.0.tar.xz">libksysguard-5.22.0</a></td>
   <td align="right">719kB</td>
   <td><tt>a2d3973aaf7d5c4a1cb6dd463ec8183dd4e9a6c6b851df4b8824f8dd562607a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/milou-5.22.0.tar.xz">milou-5.22.0</a></td>
   <td align="right">51kB</td>
   <td><tt>ee38467ef60e5d9090874820e15548c84c92c0d86491492671d48bb797354ffd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/oxygen-5.22.0.tar.xz">oxygen-5.22.0</a></td>
   <td align="right">4.2MB</td>
   <td><tt>1a9e016dd70e5e6d0a282c786a4db93a0d212a7a91d563ff27a8927864d5a745</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/plasma-browser-integration-5.22.0.tar.xz">plasma-browser-integration-5.22.0</a></td>
   <td align="right">208kB</td>
   <td><tt>08c530a0d36a279b386b48bf06f96b14c2a6d2887b4e9e3219ad055fa8396fd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/plasma-desktop-5.22.0.tar.xz">plasma-desktop-5.22.0</a></td>
   <td align="right">15MB</td>
   <td><tt>f4f8980036157e84aba53181f188bbd45c455408ee411c1df1b12dbac1c0d8a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/plasma-disks-5.22.0.tar.xz">plasma-disks-5.22.0</a></td>
   <td align="right">81kB</td>
   <td><tt>8b591f0c557f622532492dbba46041dabcd6d6384c796eaf5d354d4a933feb60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/plasma-firewall-5.22.0.tar.xz">plasma-firewall-5.22.0</a></td>
   <td align="right">331kB</td>
   <td><tt>cb2fb0184a100e3109f3bc444a287b98d78acc4c8ce945e48c0f276a1bb3d615</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/plasma-integration-5.22.0.tar.xz">plasma-integration-5.22.0</a></td>
   <td align="right">63kB</td>
   <td><tt>48f7873e6b882cbba93d6297a119ba1a1c090b6f42f4f03fe13bb4e5632e308e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/plasma-nano-5.22.0.tar.xz">plasma-nano-5.22.0</a></td>
   <td align="right">63kB</td>
   <td><tt>39f2098329fe44a298bf4b30ab4d2268074c7e1f86d986d3190fc38cb8332f6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/plasma-nm-5.22.0.tar.xz">plasma-nm-5.22.0</a></td>
   <td align="right">878kB</td>
   <td><tt>1b04f0a9d595caa243979bdbe1dfccc600bd9b7f163e193b2d7d0075c637a975</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/plasma-pa-5.22.0.tar.xz">plasma-pa-5.22.0</a></td>
   <td align="right">124kB</td>
   <td><tt>6d6f3ba2303c6f640fa2c8c3c648e10021651a00f5ab10d5d78dc7e3ed9d4741</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/plasma-phone-components-5.22.0.tar.xz">plasma-phone-components-5.22.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>9126c165a1a647e8753bf602d4a7b419beffe89223a5c53801c78b63f7bbe1af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/plasma-sdk-5.22.0.tar.xz">plasma-sdk-5.22.0</a></td>
   <td align="right">263kB</td>
   <td><tt>90364c190090e19c8099f3856f1cc6ff83e274b8a5a40f14d25bd47feab77552</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/plasma-systemmonitor-5.22.0.tar.xz">plasma-systemmonitor-5.22.0</a></td>
   <td align="right">130kB</td>
   <td><tt>6fa0c22f0754f57ce5ab7d43398d5e35217598db34d9fa9e4ad01203cfe375ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/plasma-tests-5.22.0.tar.xz">plasma-tests-5.22.0</a></td>
   <td align="right">1kB</td>
   <td><tt>c5d1d9c6881217b1e3cbde8f897167baff62bf1cedc9aa5e349d5fdfe93fac26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/plasma-thunderbolt-5.22.0.tar.xz">plasma-thunderbolt-5.22.0</a></td>
   <td align="right">62kB</td>
   <td><tt>fa9047a7666bd2769978d3f29be0881bcd26bdc744cda74625135f1c52b92df8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/plasma-vault-5.22.0.tar.xz">plasma-vault-5.22.0</a></td>
   <td align="right">166kB</td>
   <td><tt>1f3bbabc5e29b88e85276894020f881360cafaf756f929ec2ae96dba612e96ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/plasma-workspace-5.22.0.tar.xz">plasma-workspace-5.22.0</a></td>
   <td align="right">7.9MB</td>
   <td><tt>1ed41a30208d87f7586734fa0ee84eb308f5da57ea614ef537171eac8bbbb77c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/plasma-workspace-wallpapers-5.22.0.tar.xz">plasma-workspace-wallpapers-5.22.0</a></td>
   <td align="right">45MB</td>
   <td><tt>1d057d38de293ef59f2ecfe37b5edb2eb4572c008cf694e61f17634d4442cf14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/plymouth-kcm-5.22.0.tar.xz">plymouth-kcm-5.22.0</a></td>
   <td align="right">37kB</td>
   <td><tt>b986d78434c9a5ee60835e818e4f56cb9fca8f4b40b5dd4099840f2da6a1dd0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/polkit-kde-agent-1-5.22.0.tar.xz">polkit-kde-agent-1-5.22.0</a></td>
   <td align="right">44kB</td>
   <td><tt>83caf23430e2ebba52163d523455f66e18c58fa74489bc0f93c7adec0df3d240</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/powerdevil-5.22.0.tar.xz">powerdevil-5.22.0</a></td>
   <td align="right">603kB</td>
   <td><tt>cdaac1a0cad2ec5cc0c60d2ea8ce9df143ed2b29791ab32acb0abea680763bc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/qqc2-breeze-style-5.22.0.tar.xz">qqc2-breeze-style-5.22.0</a></td>
   <td align="right">64kB</td>
   <td><tt>e69223fb542e851dc068f22b09955b652b46b3ef430387fe78f5ded12cb0026f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/sddm-kcm-5.22.0.tar.xz">sddm-kcm-5.22.0</a></td>
   <td align="right">62kB</td>
   <td><tt>c1fec113d99159834d322286ac1625dd7dbe11ba39ea137e488774bf4e388d4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/systemsettings-5.22.0.tar.xz">systemsettings-5.22.0</a></td>
   <td align="right">199kB</td>
   <td><tt>668e69eecc5f7dc83d3e796c4233cc81696cda398d034c1adf490e4bafb9d9ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.0/xdg-desktop-portal-kde-5.22.0.tar.xz">xdg-desktop-portal-kde-5.22.0</a></td>
   <td align="right">84kB</td>
   <td><tt>5b930f68ef54ad9c736e68c01418f091678c0479fc30f329ab14c77d9e44dac8</tt></td>
</tr>

</table>
